[2013-05-15 22:52] cspicuzza opened #1 "Pod fields not showing"
I couldn't of come across this new feature at a better time.

I have the package contents installed and activated.  I'm assuming I should now see my Pod Fields under the custom field menu in Gravity Forms.  I don't see any of the Advanced Content Types I created.  Should those be showing here as well?  Am I doing this all wrong?

I also want to be clear that this could be used to add entries to a

[2013-07-31 05:32] etritthart opened #2 "Pod not found - message"
I installed the pods-gravity-forms plug in per the instructions on this site. It appears that I have activated the plug-in.  But when I highlight the components - gravity forms I get the Pod not found message. Is there something that I can do to move forward?

Are there instructions on manually coding the needed mappings?
I will be linking to Advanced Content Types on my forms.

Eliz

[2013-07-31 14:31] #2 closed, assigned to sc0ttkclark

[2013-07-31 14:31] #1 closed, assigned to sc0ttkclark

[2013-11-08 03:54] naomicbush opened #3 "Add Composer support"

[2013-11-08 06:37] #3 closed, assigned to sc0ttkclark

[2013-12-06 23:52] ecreatrix opened #5 "Not listed in components"
I've got this plugin uploaded, activated and added define( 'PODS_DEVELOPER', true ) to my wp-config but still can't see this listed in my components. Does it show up elsewhere?

[2014-02-18 13:26] sc0ttkclark opened #6 "File includer"
Merge in file includer code I built, fix handling of individual includes of form files on submit

[2014-02-18 13:45] sc0ttkclark opened #7 "Feed UI"
Add Feed UI from GF Add-on framework

[2014-02-26 17:21] mastef opened #8 "How to use Pods_GF manually"
Pods_GF is the main class

[code]

The action has one array passed to it: $form; To target one form you can use a statement like :

[code]

It's important to have your config defined in that action.

[code]

Field options in the field array are:

[code]

All written up by @sc0ttkclark; just re-formatted and posted here for myself and others to gets some headstart into the code.

[2014-03-07 08:53] mastef opened #9 "Prefill data in form"
This is great, and works right now for Gravity Forms > New Pods entry.

How would we approach now an 'edit' feature, where the gravity forms form is prefilled with the pods data? There is a feature in GF to allow for URL parameters to be used for prepopulation, see http://www.gravityhelp.com/documentation/page/Allow_field_to_be_populated_dynamically

I would think a hook will do it

[2014-03-28 16:19] mika31 opened #10 "Doesn't work with upload files"
I'm tryiing to use a form with 3 max uploading files in Gravity forms (files are well upload on GF upload folder "wp-content/uploads/gravity_forms/x-xxxxxxxxxxxxxxxxxx/yyyy/mm").

But they are not save in pod record.
Is this functionnality working for someone ?

I've found another plugin with a piece of code that works on the POST['gform_uploaded_files'] var sent by GF  on this page : https://gist

[2014-04-10 05:27] mhibbitt opened #11 "GF with pods"
Thought yall might be interested in this. May help expidite this feature.

http://codecanyon.net/item/gravity-forms-mysql-connect/5968479

[2014-04-28 20:27] GitHubGreg opened #12 "Creating two ACTs with one GravityForms submission"
Hi guys.

I have more of a question than an issue. I am currently able to create a new ACT when the GravityForm is submitted without any problem.

What I would like is to create _additional_ ACTs with the same _single submission_ of the GravityForm. Specifically, the B&B reservation and the B&B guest. Those are two separate ACTs in my setup.

I tried calling pods_gf twice, but it only creates the

[2014-06-09 07:11] #7 closed, assigned to nobody

[2014-06-09 07:11] #8 closed, assigned to sc0ttkclark

[2014-06-09 07:11] #11 closed, assigned to nobody

[2014-06-11 14:27] naomicbush opened #16 "GF private methods used"
`GFFormDisplay::has_pages` and `GFFormDisplay::get_js_redirect_confirmation` are private Gravity Forms methods

[2014-06-12 02:03] #16 closed, assigned to nobody

[2014-07-14 19:33] naomicbush opened #18 "Pods menu no longer showing in Gravity Forms Form Settings menu"

[2014-07-14 21:47] #18 closed, assigned to nobody

[2014-09-04 15:07] jimtrue opened #20 "Clicking Submit AJAX hangs or Error with Submission: Pods_GF not found."
From Forum Post on Pods.io:
http://pods.io/forums/topic/pods-gravity-forms/

I am having problems with PODS and Gravity forms, I have been through a process with GF support, who have directed me back to you guys here at PODS.

We have been through the process of unwinding themes, plugins etc for conflicts and there are apparently none.

The site is now setup in debug mode and with PHP / MY SQL err

[2014-09-29 02:14] #20 closed, assigned to nobody

[2014-10-05 02:53] schutzsmith opened #22 "Can't process form"
Haven't been able to get this to work yet on two different sites.

I submit the form and then it says: "Either Pod ID or Name are required"

Not sure what we need to do on our end to make this actually work.

We are trying to just set the title and body of a Post and a Page. Trying to run two of these at the same time but even when we try one we get the same error. We have the most recent versions

[2014-11-03 19:59] maher-samir opened #23 "dublicate posts if form has more than one step"
hello there,

on
wp 4.0
gf 1.8.18
pods 2.4.3
Pods Gravity Forms Add-On 1.0 Alpha 8

if we create form with two steps for example (make steps with page break) and map this form with our pods.
on the 1st step of our form a new post has been inserted in our pods - no problem
on the 2nd step also the same data has been inserted in our pods

thanks.

[2015-01-05 15:20] andrewfam opened #25 "Relationships to PODS"
I have a user registration pods that ties companies to users through a relationship.
How would I go about showing the company pods in the Gravity Form Section?

(Sorry Figured it out thanks)

[2015-02-07 19:09] 3dp opened #26 "Migrate existing GF Entries into Pod feed"
If I have forms with data that has already been entered is it possible to have it loaded into the Pod?

[2015-02-08 01:13] Shelob9 commented on #26
Right now there is no way to do that. It would be a cool feature. @naomicbush (https://gravityplus.pro/) might be able to help you find a way to do this.

[2015-02-08 03:50] sc0ttkclark commented on #26
Not available currently, but I've been building CLI commands for my purposes here, I could try and generalize it and post something to help you out, maybe in the next week or two.

[2015-02-11 16:12] shamguy4 opened #27 "error with new gravity form 1.9"
I get an error Pods_GF_Addon::field_map_title is deprecated since version 1.9! Use public access level instead.
Also if gravity forms is not installed this plugin throws an error

[2015-02-11 18:33] naomicbush commented on #27
Just pushed an update for GF 1.9. Thanks!

[2015-03-09 07:46] appnitus opened #29 "submision broken Error: "parameter 1 to be string, array given in""
I am getting this error:
"Warning: strlen() expects parameter 1 to be string, array given in /home/server/public_html/test/wp-content/plugins/pods/classes/fields/text.php on line 202"
is shown more than once on a form submision, I am almost sure that is related to combo boxes, radio or checkboxes in the form but I am selecting/passing only one value each time while filling the form, I am using tex

[2015-03-09 08:28] appnitus commented on #29
I got that error with the following configuration: Wordpress 4.1.1 / Gravityforms 1.9.3 Developer /  Pods 2.5.1.1 / Pods Gravity Forms Add-On Version 1.0 Alpha 9

[2015-03-09 19:59] sc0ttkclark commented on #29
Try the latest version of Pods Gravity Forms (1.0 Alpha 10) https://github.com/pods-framework/pods-gravity-forms/archive/master.zip and the latest version of Pods (2.5.2 Beta) http://pods.io/latest/

[2015-04-24 20:07] ckpicker commented on #10
+1

[2015-06-02 10:31] ricemann commented on #26
Hi guys - any news on this ?

I know you are busy like the rest of us ; )
But could be nice to combine my two fav plugins.  Or a plain old crud tutorial would be a treat.

Cheers : )

[2015-07-02 15:59] sc0ttkclark commented on #26
No news on this, it's not a current priority as we're focusing on Pods 3.0 development

[2015-08-04 06:29] elifafd opened #30 "post_title remains empty"
I have a pod with a few fields.
I have Grafivity Forms (with the pods addition) where i store and map the filled form to the pod.

All fields work except the Title (post_title) name?

Any suggestions?

[2015-08-10 11:31] jimtrue commented on #30
This appears to be a cross-post from our Forums:
http://pods.io/forums/topic/set-title-from-gravity-form/

@naomicbush I've done as much troubleshooting as I can with the person on the forum post. Is this one you have time to help investigate?

[2015-09-18 13:38] eddallen commented on #10
Hey Scott, Is there any news on this enhancement? I swear i've had it working on a pods build previously..

[2015-09-19 14:57] sc0ttkclark commented on #10
No, but I'll take a look at it this weekend.

[2015-10-09 16:12] WebEndev opened #31 "Does not work with List field"
Hello,

When using a list field, no values are passed over. In addition, it creates multiple posts, one for each list line item submitted.

Very helpful plugin though. Thanks for the work on it.

P.S. -
WP version 4.3.1
Gravity Forms 1.9.14
Pods 2.5.5

[2015-10-13 15:07] sc0ttkclark commented on #31
Interesting issue! I don't think we have thoroughly tested list item or file upload field support. We'll circle back around on this one.

What type of field are you mapping the GF list field to in Pods?

[2015-10-13 15:12] WebEndev commented on #31
Hi Scott,

Mapping it to a plain text. Wish I had not removed the entire setup (I decided to go another route), or I could give you more details.

Thanks for the quick response!

[2015-10-14 21:56] thecxguy opened #32 "Doesn't work with "name (full)" advanced field"
name (first), name (last), can be mapped properly, however name (full) throws an error. I believe it's caused by the fact that gf is passing it as an array rather than a concatenated string.

[2015-10-14 22:48] thecxguy commented on #31
I'm experiencing the same issue.
My pods field type is Relationship>Simple>custom defined list>Multiple Select/Checkboxes
My gform field is a checkbox.

mapping the pod field to  "FormFieldname (Selected)"

They match exactly
fwiw I have 8 options.

If the first option is selected, that value is passed through.

[2015-11-24 04:09] maxidigi commented on #30
Good day...Curious to learn if there had been any additional investigation on this?  I am running into the identical issue?  Trying to have the Pods title populated via a GF field and the Pods field remains blank while the other GF fields populate the Pods fields as expected.

thanks.

[2015-12-18 20:51] copperleaf commented on #10
I'm working on a project that would greatly benefit from this functionality.  Would a bounty on this particular piece functionality help speed it along?  Thanks!

[2015-12-21 16:12] sc0ttkclark commented on #10
I'm currently looking to collaborate here with someone's existing site and configuration if possible. If you have a dev site, then great, but I am looking to do a quick test as I don't have a ton of time this week but I'd really like to finally close this out before New Years :)

Any takers?

[2015-12-21 16:21] copperleaf commented on #10
I have a dev site you can use for testing.  Shoot me an email to gordon@copperleafcreative.com and I'll get you credentials.

[2015-12-21 16:44] jimtrue commented on #30
The actual issue you might be having is that you have to use one of the WP Object Fields for 'Post Title'. When you're inserting the fields, you want to use the block called 'Post Fields'. If you select 'Post Fields' from the right field selection and 'Title' for your post_title and map it in the Pods Mapping within WP Object Fields, this works perfectly.

Is that what you're doing @maxidigi or @e

[2015-12-24 11:43] jimtrue commented on #30
Unfortunately, the wp object fields once mapped are also writing to wp_posts as 'post' in addition to the custom post type. If the mapping occurs for WP Object fields, they should only map to the Custom Post Type.

[2015-12-27 21:09] sc0ttkclark commented on #32
Potentially fixed by https://github.com/pods-framework/pods-gravity-forms/commit/e982f82cfacba69ed1bdb5c9b959b07919069cbb -- needs testing to confirm.

[2015-12-27 21:10] sc0ttkclark commented on #31
Potentially fixed by https://github.com/pods-framework/pods-gravity-forms/commit/e982f82cfacba69ed1bdb5c9b959b07919069cbb -- needs testing to confirm.

[2015-12-27 21:10] sc0ttkclark commented on #30
Potentially fixed by https://github.com/pods-framework/pods-gravity-forms/commit/e982f82cfacba69ed1bdb5c9b959b07919069cbb -- needs testing to confirm.

[2015-12-27 21:10] sc0ttkclark commented on #29
Potentially fixed by https://github.com/pods-framework/pods-gravity-forms/commit/e982f82cfacba69ed1bdb5c9b959b07919069cbb -- needs testing to confirm.

[2015-12-27 21:10] #27 closed

[2015-12-27 21:11] #25 closed

[2015-12-27 21:12] #12 closed

[2015-12-27 21:12] sc0ttkclark commented on #10
Potentially fixed by https://github.com/pods-framework/pods-gravity-forms/commit/e982f82cfacba69ed1bdb5c9b959b07919069cbb -- needs testing to confirm.

[2015-12-27 21:12] #6 closed

[2015-12-27 21:13] sc0ttkclark commented on #5
This is a separate plugin, isn't listed under Components.

[2015-12-27 21:13] #5 closed

[2015-12-27 21:44] sc0ttkclark commented on #23
Currently we process on validation, but validation runs on every page (except when going back to a previous page). We'll have to update Pods_GF to accept an alternative to validation hooks when in use by a GF pod feed, to use the submission hook instead.

[2015-12-27 22:05] sc0ttkclark commented on #23
Potential fix for this in https://github.com/pods-framework/pods-gravity-forms/commit/1480e522aacba90921ec23ceb1dc95d514a711e8 -- Needs testing to confirm

[2015-12-27 22:07] sc0ttkclark commented on #9
I'm not sure yet how best to handle this, but open to ideas. We have pre-filling already supported in Pods_GF so it's just a matter of somehow exposing an option of where to get the ID for the item to auto-populate from.

[2015-12-27 22:08] sc0ttkclark commented on #22
Closing this as fixed by recent commits.

[2015-12-27 22:08] #22 closed

[2015-12-27 22:56] #31 closed

[2015-12-27 22:56] #30 closed

[2015-12-27 22:57] #23 closed

[2015-12-27 22:57] #29 closed

[2016-01-04 19:54] copperleaf commented on #10
We were just testing this using the form at
http://thewellmont.staging.wpengine.com/?page_id=109 and don't see it
working.  Is there any additional configuration we need to do?

thanks!

Gordon
@CopperGordon

*Copper Leaf Creative*(970) 776-8778
407 N Lincoln, Suite 110
Loveland, CO 80537
www.copperleafcreative.com
*We are in Mountain Time and typically in the office 9-5 PM.*

* <http://www.copper

[2016-01-04 22:06] leeburstroghm opened #33 "pod feed disapeared"
I am not sure how this could have happened.. to remedy I have deleted the files, and re-installed the version of this add-on available today... I then deleted the pods cache, created a new form in Gravity and the pods feed is still not available..? An existing form that I setup and did link to a pod does not have that feed menu option either.. its as if the plugin is turned off.. The pods-gravity-

[2016-01-04 23:55] #33 closed

[2016-01-13 16:50] jimtrue opened #34 "Gravity Forms Currency Fields not Mapping Properly to Currency Fields in Pods"
All Currency field are coming across as 0,00 when mapped as Euro, but the Total Calculated field is coming across correctly. I'm getting JSON export from Gravity Forms and JSON Migrate Package from Pods so we can match user's configuration. Brought to Slack after posting on Forum Post:
http://pods.io/forums/topic/gravity-form-price-field-issue/

[2016-01-13 16:56] jimtrue commented on #34
Included are Gravity Forms Configuration and Pods Configuration

[issue-34-gravity-forms-pods-configuration.zip](https://github.com/pods-framework/pods-gravity-forms/files/89206/issue-34-gravity-forms-pods-configuration.zip)

[2016-01-13 17:34] jimtrue commented on #34
<img width="973" alt="screen_shot_2016-01-13_at_18 30 36" src="https://cloud.githubusercontent.com/assets/3052875/12302194/fbc157a8-b9f1-11e5-96c1-278dbaa4f16e.png">

Pods Feed Configuration, Gravity Forms Settings needs to be set at Current Euro

[2016-01-13 22:54] leeburstroghm commented on #32
Verified, full name fields to not map to gravity forms..
GF pods feed displays all GF(Full Name Fields) and I am able to map them accordingly.. to each pod field, lik Prefix -> xx or Middle-> xx
GF entry looks like it saves the Full name fields into one field. . So perhaps the values are not actually separate by the time its available to the pods feed??
I was able to verify that if I map GF Full N

[2016-01-13 22:55] leeburstroghm commented on #32
Sorry scott, I see you did a commit .. I am not sure if that is the ver I am running, so I cant verify if its working with that commit!

[2016-01-14 17:30] gnappo74 commented on #34
Hi i have tried more and there is also another issue when u use product field with price inserted by the user, gravity form give an error said: "name of the field" is not a number, i have deleted the fields connected to pods that receive teh data from product price entered by user and now GF back to work, still remain the issue of value passed from GF to pods is still 0,00 but total field works.

[2016-01-14 17:35] jimtrue commented on #34
'name of the field is not a number' would be a Gravity Form specific error, not Pods.

The primary issue I'm seeing is that the Euro values keep flipping back and forth with your conditionals and they're definitely not passing over. Let's try to keep this particular issue restricted to ONLY the Euro Currency Values not passing to Pods, okay?

[2016-01-14 17:40] gnappo74 commented on #34
yes of course Jim, the main issue is that surely, but quite strange that if i deactive from GF pods setting the pods connected the error is not a number disappear i have create a localhost installation with GF clean and no error, so i think that is always connected to pass the data to pods, and when there is this particular situation with price inserted by user --> error.

[2016-01-14 17:44] jimtrue commented on #34
Sorry @gnappo74 that above paragraph is unclear to me. When you deactivate the GF to Pods plugin, you don't receive the errors on your form? Form entry doesn't connect to the Pods processor, only when you hit submit and you're writing the final data to Pods entries. If they don't match field types, you're going to get an error. Currency is not a Number, it's a Currency object (and the input has to

[2016-01-14 17:53] gnappo74 commented on #34
ok Jim recap from yesterday: issue of pass the data with currency from GF product field with Euro still remain and as you know instead the GF field "total" works.
In the pods settings inside gravity form when you map the data to GF field you see in my example staffe (pods fields) and totale staffe € GF field; the totale staffe GF field is always a product field which price is not given like for ex

[2016-01-14 23:32] jimtrue opened #35 "Featured Image is Mapping and Saving to Pod post but not Uploading to Media Library"
Related to this forum post:
http://pods.io/forums/topic/problem-to-feed-featured-image-object-with-pods-gravity-form-plugin/

Featured Image is mapped to Featured Image in WP Object Block on Pods Processor. Entry is written like it's been uploaded to Media Library, but all I see there is a "broken image", like the upload didn't take place.

[2016-01-19 01:48] nicdford commented on #32
@sc0ttkclark inadvertently tested this issue. Does seem to work now, but does pop a warning message: `Warning: strlen() expects parameter 1 to be string, array given in /home/********/public_html/wp-content/plugins/pods/classes/fields/text.php on line 202`

[2016-01-24 15:37] gnappo74 commented on #34
any news?

[2016-02-03 14:23] korgonthurus opened #36 "Post Title Field Doesn't Update and Post Status stays as Draft regardless of Pods Settings"
The Gravity Forms' "Post Title" field won't work with PODS & GF plugin. It is unable to pass any values (tested the Title & Status, which I find the most important, but I'm guessing it doesn't work with any values whatsoever).

I managed to use the Gravity Forms + Custom Post Types (https://wordpress.org/plugins/gravity-forms-custom-post-types/) plugin, which successfully updates the Post Status &

[2016-02-03 14:41] jimtrue commented on #36
@korgonthurus Did you set the post title to map into the WP Object field post title in your Pods Processor tab? Yes, I would not recommend doing both plugins as they have conflicting purposes.

So without it installed or activated, and clearing cache, you can't get Post Title or the Status to save as anything other than Draft?

[2016-02-03 19:54] korgonthurus commented on #36
@jimtrue Exactly!

If I map the Post Title field in the appropriate Post Title field in the PODS feed, I'm unable to change the post status. It always stays as draft.

The problem goes deeper, since I've tried many different methods to make this work. It is crucial for pods to "fetch" the post status from the Post Title GF field, because it's the only way any related code would work.

For example

[2016-02-10 23:56] edse83 commented on #35
Any updates on this?

[2016-02-11 00:07] sc0ttkclark commented on #35
I should have some more time to test this out this week, if you want to confirm, just keep an eye here for an update and I'll let you know when the fix is up on GitHub :)

[2016-02-11 00:08] sc0ttkclark commented on #34
Looking at this issue for this week too

[2016-02-11 00:08] sc0ttkclark commented on #32
Will revisit this week

[2016-02-11 01:10] DrSammyLee commented on #36
@korgonthurus Using the GF Post Title field in combination with Pods to create posts does NOT work correctly. Rather than using a GF Post Title field, use a GF Single Line Text field and map that to WP Object field post title in Pods processor tab.

I can't remember where I read it, either in the Pods documentation or forum, but it's best to avoid using any of the GF Post fields and using standard

[2016-02-11 10:40] korgonthurus commented on #36
@DrSammyLee I totally agree, and this is what I do :) I dont use any GF fields, Im setting up all the fields I need, then use the pods feed to map them. Everything works great, I create dynamic titles, and auto-complete fields. The problem is a) there is not even a single way at the moment, that you are able to pass "post_status" information to the pods cpt. That means all the submissions go to dr

[2016-02-11 12:09] jimtrue commented on #36
@korgonthorus Did you create a separate issue for the taxonomy? So these can each be patched properly, it really must be one issue per problem

[2016-02-11 12:20] korgonthurus commented on #36
@jimtrue That is true, I am sorry, will do that now!

[2016-02-11 12:27] korgonthurus opened #37 "Unable To "Fetch" Custom Taxonomy's Term List Using PODS Feeds"
I'm unable to get the custom taxonomy's values by using the pods feed.

It does work with simple relationship and advanced relationship fields, correctly getting all the values, but not for taxonomies. This happens in the dropdown field, where we can either add our own options to the selections, or fetch them through the associated pod feed.

The taxonomy is correctly mapped in the feed, but I get

[2016-02-11 12:33] gnappo74 commented on #34
great, very curious

[2016-02-11 20:30] bluedition opened #38 "drop down or selection fields"
I have been searching throughout for a “drop down” or selection field type. Am I just overlooking this or is there a special way to implement this. I would assume that a selection field would be standard; am I barking up the wrong tree?

[2016-02-11 20:35] jimtrue commented on #38
Do you mean a drop down field populated by an existing relationship field or a custom taxonomy or something else?

[2016-02-12 20:03] copperleaf commented on #35
Great!  We're anxious to have this working too.  We'll keep an eye here.  Thank you!

[2016-02-18 14:11] korgonthurus commented on #36
On further notes, if more people are facing the same problem, you can still choose the default post status from the PODS'  advanced options. It's "hardcoded" though, you can't actually change it through GF, but I guess will fit most cases!

[2016-02-18 14:13] jimtrue commented on #36
Well, since the Post Creation is handled by Pods, there's no reason the default post status from the Pods configuration isn't being used for Pods post creation.

[2016-02-19 15:58] sc0ttkclark opened #39 "Pods Gravity Forms 1.0 release"
Making a list of things that aren't working that we want to work for 1.0 release.

- [x] Delete entry after submission
- [x] Post Image doesn't map to Featured Image for Post
- [x] Custom Taxonomy doesn't map like Relationship Fields (see #37 )
- [x] GF Euro Currency (at GF level) doesn't map to Pods Currency EU Field (comes over as 0,00) (see #34)
- [x] Add FAQ (where folks go for Support, etc.)

[2016-02-19 17:14] jimtrue commented on #38
@bluedition Did you have any further feedback on what you were looking for? If you don't respond, I'll have to close this issue.

[2016-02-19 17:17] jimtrue commented on #35
This works if you just use a regular 'image' upload field, but Post Image doesn't map. See #39 for updates.

[2016-02-19 17:20] jimtrue commented on #36
Okay on a fresh install of the Gravity Forms plugin, I tested Post Title using both a standard text field and mapping it to the Post Title field and also using a Post Object Post Title field. Both worked flawlessly.

On the Draft/Published status: I created a new pod with Post Status of 'Published' in Advanced Options. My entries from the GF feed always go to published, no 'drafts', so not sure if

[2016-02-20 13:46] korgonthurus commented on #36
@jimtrue Exactly! That's why I've written the last message, to clarify that the post status inside the PODS's options is working as expected. Post titles as well work flawlessly.

I have done a lot of testing between GF & Pods, and really the only issues was this, and the other taxonomy one.

The case here is that there is no way to actually change the post status through a form. It's a minor issu

[2016-02-20 14:14] jimtrue commented on #36
So the *real* issue is that you can't set Post Status from within the GF field and have it be recognized and passed to Pods, right?

[2016-02-20 14:56] korgonthurus commented on #36
@jimtrue Exactly! Tried numerous ways but wasn't able to do it.

[2016-03-03 16:05] VR-Architect commented on #38
I was looking for the instructions on how to get the dropdown to show the values of an advanced content type. The control is mapped to Pods, just doesn't show the Pods value in the dropdown.

[2016-03-04 07:12] sc0ttkclark commented on #34
Issue is fixed through https://github.com/pods-framework/pods/pull/3436

[2016-03-04 07:16] #34 closed

[2016-03-04 08:12] sc0ttkclark commented on #35
Working as of the latest changes from tonight

[2016-03-04 08:12] #35 closed

[2016-03-04 08:13] sc0ttkclark commented on #32
Fixed in latest changes from tonight

[2016-03-04 08:13] #32 closed

[2016-03-04 08:29] sc0ttkclark commented on #36
Fixed as of the changes tonight :)

[2016-03-04 08:29] #36 closed

[2016-03-04 08:57] sc0ttkclark commented on #37
Fixed as of the changes tonight in Pods GF, but requires the fix for Pods 2.x here to work: https://github.com/pods-framework/pods/pull/3437

[2016-03-04 08:57] #37 closed

[2016-03-04 08:57] #38 closed

[2016-03-04 08:58] sc0ttkclark commented on #39
Ready to go up on wordpress.org later today :)

[2016-03-04 08:58] #39 closed

[2016-03-04 14:41] Ramoonus opened #41 "tag 1.0 on GH"

[2016-03-04 16:17] #41 closed

[2016-03-04 18:07] lkraav commented on #26
The announcement e-mail doesn't cover much about the "why and when would you use this" part. But thinking about it and then seeing this issue posted, it's starting to look like having a post-type based data storage model instead of entries, for whatever reason, is the primary purpose of the whole addon, huh?

[2016-03-04 18:18] sc0ttkclark commented on #26
Actually, because Pods does any content type, the primary purpose is to map your Gravity Form submissions to any pod type and it's fields. That means it can be a Post Type, Taxonomy, User, Comment, or an Advanced Content Type (custom table).

[2016-03-10 15:58] mwehrly opened #42 "Advanced Fields / Address"
Hi -
Not sure if this is known or a bug;

When trying to use an Advanced Field, address to be specific, it will capture the data if the "Full Address" field is selected in the Pods Feed; however, it will not capture any data if a single component (ie. address line) is selected in the Pods Feed.

![address_field](https://cloud.githubusercontent.com/assets/1319642/13675308/fb818bf2-e6ae-11e5-82f7-7a

[2016-03-10 16:05] sc0ttkclark commented on #42
Just something we need to build support for, we currently only support (Full) fields, so that's certainly something we want to cover. We'll make this a priority in the next release.

[2016-03-10 16:37] mwehrly commented on #42
Thanks for the heads up!

[2016-03-11 15:30] kkramer2195 opened #43 "Pre-Populate GF with PODS Data"
I have modified the following code snippet from an iThemes Training class on pre-populating gravity forms:

// Prefill with User Data
function populate_usermeta($meta_key){
global $current_user;
return $current_user->__get($meta_key);
}
add_filter('gform_field_value_userfirstname',
create_function("", '$value =
populate_usermeta(\'user_firstname\'); return $value;' ));
add_filter('gform_field_valu

[2016-03-11 20:06] sc0ttkclark commented on #43
I bet if the pod is a user pod, we could populate it with the 'current user' data, which shouldn't be difficult. Just need to get some JS to show/hide the optional mapping field if the pod selected is a user pod.

[2016-03-11 20:24] kkramer2195 commented on #43
I was thinking it would be fairly easy since it is an extension of User, I checked the db and found the entries I am expecting to pull from DB to my GF screen....

[2016-03-14 18:30] Ramoonus opened #44 "Compatibility with GF 2.0"

[2016-03-19 22:53] tomodea42 opened #45 "Multi-Select relationship field not being updated"
We have a problem with the use of the Pods Gravity Forms Add-On.

When we have a multi-select field which represents a relationship to another Pod, only the first item in the multi-select list gets accepted.

Software Versions
We are using WordPress Version: 4.4.2 with these plugins:
• Gravity Forms: 1.9.17.5.
• Pods - Custom Content Types and Fields: 2.6.1.
• Pods Alternative Cache: 1.0.
• Pods F

[2016-04-02 05:10] tomodea42 commented on #45
I'd be most grateful if someone could have a look at this problem and let us know if something can be done to address it.  Thanks, Tom O'Dea

[2016-04-12 21:04] saltnpixels opened #46 "how to get id of pod created in form"
im guessing POD ID is the new id of the created pod from the form.
except it always returns 0.
I am trying to get the pod id that gets created so i can do more stuff with it after the form is submitted...

[2016-04-13 14:22] saltnpixels commented on #46
So i have realized that the pod is not created first. It is created after all hooks from gravity form have run and so there is no way to access the pod id because it doesnt exist yet.

[2016-04-13 14:23] saltnpixels opened #47 "Cannot save Address"
I cannot seem to save or get an Address field into pods in any way. Either throws an error or just doesnt save.

[2016-04-20 03:58] saltnpixels commented on #42
interesting i created a similar bug.
for me no address even full doesnt get created.

[2016-04-29 11:26] javaandy1 opened #48 "Author not being stored for custom post type"
Hi,

Jim had asked me to leave a bug report here. I am sorry I do not have the log data but here is a screenshot showing the issue of author not being passed into post meta, which you can replicate.

http://screencast.com/t/8sZOaOvHz

I ramble toward the end, trying to troubleshoot a bit.

Hope this helps.

Andy Golay

[2016-05-10 14:25] kkramer2195 commented on #43
Any update or ETA on this issue?

[2016-05-20 04:39] David-Brown opened #49 "Title in Custom Post Type"
Hi, all

Encountering an issue where Gravity Forms fields mapped to the title field of a CPT created in Pods doesn't save. Other fields, both stand post object fields (content) and custom fields are saving correctly, but the title does not. I've reproduced the issue on two different sites.

[2016-05-20 20:09] David-Brown commented on #49
User error :) I wasn't using a title field within the form. Closing.

[2016-05-20 20:09] #49 closed

[2016-06-06 23:02] mmarvin1 opened #50 "Time fields not handled correctly *fix inside*"
Problem occurs when mapping a 12h "time" GF field to a 12h "time" PODS field. You can see the correct time in the GF entry, but the PODS entry will contain the submission timestamp instead of whatever your user input.

The problem is due to the way GF stores Time objects (10:20PM would be ['10','20','pm']). The PODS "time" type cannot handle that type of input, so it gives up and grabs the current

[2016-06-14 21:06] zanematthew commented on #10
Confirming that this is not fixed, and needs reopening.

[2016-06-29 13:00] pstollery opened #51 "MP3 fields causing WordPress to crash"
I have a gravity form and pod with an MP3 field. If I map them, on submitting the form I receive a 500 error from WordPress.

The entry in GF is created and the MP3 gets uploaded - but the POD fails to get generated. Therefore I'm assuming it's this plugin causing the 500 error.

[2016-06-29 15:21] Ramoonus commented on #51
you don`t have a serverside error log?

[2016-06-29 15:24] pstollery commented on #51
Fatal error: Call to undefined function wp_read_audio_metadata() in /gluster_data/cpanel/kmea/public_html/cpanel/wp-admin/includes/image.php on line 138

When switching debug on. Looks like a bug in the wordpress core?

[2016-07-05 23:46] StaggerLeee commented on #29
I have this problem when using CF7 checkboxes with **default:get**. I need it to mark box checked via links when visitor come to form from other Page. So this small problem is still around.

Other Info is as Issue Author explained.

[2016-07-06 10:15] StaggerLeee commented on #29
Solved it by switching to textarea and styling field exactly as text field. Not so important for me as I use fields for something very special and they are not editable in backend.

[2016-07-12 23:42] chris-nc opened #52 "Feature Request - option for gravity form submission to update existing pod entry"
I am building a front end system for allowing registered users to build a complex profile that consists of multiple types of pods data stored in multiple pods tables.

I am using Gravity Forms to populate those pods entries but I would also like to use Gravity Forms to replace the pods entry edit forms as well so I can have a more streamlined user interface.

Is there a simple mod I could make to

[2016-07-15 18:59] sc0ttkclark opened #53 "Add option in Pods GF feed config to set ID / Slug of item to edit"
Just like Pods forms has, we should have a text field that the dev can hardcode an ID or slug of an item on that pod to be edited on submit.

Also just like Pods forms has, we want that value to allow a special magic tag to allow values like:

* `{@get.edit_ID}` (?edit_ID=123)
* `{@post.edit_ID}` ($_POST['edit_ID'])
* `{@url.last}` (mysite.com/some-page/my-slug/)
* `{@url.2}` (mysite.com/some-page

[2016-07-15 18:59] sc0ttkclark commented on #53
Fixes #52

[2016-07-15 18:59] sc0ttkclark commented on #52
Moving focus to #53

[2016-07-15 18:59] #52 closed

[2016-07-15 18:59] sc0ttkclark commented on #9
Moving into #53

[2016-07-15 18:59] #9 closed

[2016-08-09 02:10] JoryHogeveen opened #54 "Feature: Add Form relationship"
(Maybe better as a component for Pods Core)
Add forms to the possible relationship objects.

[2016-10-11 20:03] sc0ttkclark opened #55 "Edit Current User when using Pods GF feed for User pod"
[code]

[2016-10-27 04:40] EdithNet opened #56 "I can't use the same field content into a pod field and the title"
Hello:
I've created a form and mapped all the pods fields. In the form, I have a field called "name", and I want this content to be passed to my pods "name" field but to my pos tittle too, but if I map this, one of them remain empty. Hoy can I do it?

[2016-10-27 11:19] David-Brown commented on #56
"Name" is a reserved term in WordPress. That might be causing the issue. Have you tried re-naming the field?

[2016-10-27 15:48] EdithNet commented on #56
The name of the field is "Nombre"

Larga y próspera vida
Edith

[2016-10-27 18:55] mmarvin1 commented on #50
This was not fixed in revisions 1.1 or 1.2. If anyone else wants to fix this for themselves, paste my code right after the code that says
`		if ( in_array( $gf_field->type, array( 'name' ) ) ) {
			$value = implode( ' ', $value );`

In version 1.2, this is on line 2956.

[2016-11-15 21:27] stddd opened #57 "Conflict between Pods and Gravity Form (total price item)"
Hello !

I have a problem with Pods and Gravity Form.

Easiest with an example : [http://www.ffyb.be/boutique-ffyb/]

When i add item in the form, i don't see the total price increase still at 0, after few test ( desactivate a lot of plugins ) seems to be PODS the problem, i try to desactivate some JS of PODS to prevent the error.

I tested:  WP_DEBUG -> nothing, JS problem console-> nothing

PS :

[2016-11-18 19:13] lukecav commented on #57
@stddd

So are you using pricing fields on that form or something else?

https://www.gravityhelp.com/documentation/article/product/
https://www.gravityhelp.com/documentation/article/option/

[2016-11-20 17:37] rpall opened #58 "Form entry ID not available to be saved in pod?"
I configured a pods feed for a form and wanted to store the original gf form entry id in a pods field. I mapped the pod custom field "GF entry id" to form field "Entry ID". However it doesn't get saved. The field for the pod record is saved empty.

Pods field was marked as required, tried both plain text and plain number, though it didn't make a difference. Even though the pod field was marked req

[2016-11-25 13:49] rpall commented on #58
Fwiw i used this workaround for the time being.

`add_action( 'pods_gf_to_pods', 'ph_add_author_to_request', 10, 5);
function ph_add_author_to_request( $pod, $save_action, $data, $id, $podsgf ) {
  $pod_id = $id;
  $entry_id = $podsgf->entry_id;
  $user_id = gf_user_registration()->get_user_by_entry_id( $entry_id, true );

  if ( !empty( $user_id ) ) {
    $request = pods( 'request', $pod_id );

[2016-11-25 14:02] rpall commented on #58
Backstory: i was trying to achieve getting the author relationship to be set correctly when using the GF User registration add-on. I thought i could achieve this by making the connection via the gf entry id field, but this also was not saved to the pod.

For the time being i managed to achieve the proper author relationship by hooking into the `pods_gf_to_pods` hook like this:

[code]

[2016-11-25 14:47] sc0ttkclark commented on #58
Why not use this hook?

`$data = apply_filters( 'pods_gf_to_pods_data', $data, $form, $options );`

https://github.com/pods-framework/pods-gravity-forms/blob/master/includes/Pods_GF.php#L1530

[2017-01-23 20:23] jimtrue commented on #10
Yep, I can also confirm (from another forum post) that this is not working on multi-upload fields. The fields are being uploaded to the 'entry' but not going into the Media Gallery or the Pods Entry.

[2017-02-03 13:29] ZoroG commented on #10
Can confirm also that this is not working for me on either single file or multi-upload fields. I can confirm at least for single file upload that the uploaded image from the file upload filed is uploaded and viewable both on gravity forms entries and the media library.

[2017-02-20 17:48] jimtrue commented on #10
For confirmation:

If you use a 'File Upload' field in your form and _don't_ check Enable Multi-File Upload, this works perfectly for matching uploaded file to image/media/file field in Pods.

Multi-file Upload doesn't work, however. The form performs the upload but it doesn't map to the Pods field.

[2017-02-20 19:12] sc0ttkclark commented on #10
Looking at this again, will update once I've got my solution in place.

[2017-02-20 20:25] ZoroG commented on #10
Thanks for the update Scott.

On 20 Feb 2017 19:12, "Scott Kingsley Clark" <notifications@github.com>
wrote:

[2017-02-20 20:25] ZoroG commented on #10
Thanks for the reply Jim

Regards
Michael

On 20 Feb 2017 17:48, "Jim True" <notifications@github.com> wrote:

[2017-03-08 20:12] Titan92 opened #60 "Saving pod feed from form, but 2/10 fields are empty."
After some updates, a few fields "nombre" "apellido_1" (Name Last Name in Spanish) not feeding correctly, empty on custom_post_type.

In the form log everything is ok.

all other fields get their value.

[2017-03-21 00:16] jimtrue commented on #53
Notes regarding the filters for Editing existing record:
[code]

[2017-03-31 16:05] kbrennan981 opened #61 "Author Field Not Filling In"
I'm currently using the gravity forms pods integration to allow members to create posts easily.  However, no matter what I do, I can't seem to get the author feed to work.

I first tried using the supplied method... I know that you can select the check box under DEFAULT POST AUTHOR, that says USE LOGGED IN USER AS AUTHOR, however, even when that box is checked, it seems to always set the author as

[2017-04-04 18:37] kbrennan981 commented on #61
@sc0ttkclark Do you have any idea on when this might be fixed?  I only ask because right now, I have to manually change every post accordingly.  We're launching within the next week or two, and it would be GREAT if this was working properly.  Otherwise, I may have to come up with a quick solution or not use gravity forms.

[2017-04-05 22:26] lukecav commented on #61
@kbrennan981

Seems like it is using **post_author**.
https://github.com/pods-framework/pods-gravity-forms/blob/3c080ae0e22c53be40e060a0e2e624b6d493a416/includes/Pods_GF.php#L1412

https://developer.wordpress.org/reference/functions/wp_insert_post/#parameters

[2017-04-06 16:10] kbrennan981 commented on #61
@lukecav, could you elaborate?  I'm not sure what you mean.

To recap, I currently have it set up so that when a member fills out and submits the gravity form, using the gravity forms pod integration / feed, it's supposed to create a new post in the custom post type and set it as pending review, with the author set as the logged in user that filled out the gravity form.  However, it's working righ

[2017-04-06 16:10] kbrennan981 commented on #61
@sc0ttkclark, do you have any thoughts on this?

[2017-04-06 19:49] lukecav commented on #61
So I just tested on local dev, running the current version of Pods for Gravity Forms, Gravity Forms on WP 4.7.3. Created a simple form, extended Post to be the Pod. Then created the feed on the form. Used a simple text field for the author name, then used a merge tag {user:display_name}.
https://www.gravityhelp.com/documentation/article/merge-tags/#user-meta

The post was created, but no author wa

[2017-04-06 19:53] kbrennan981 commented on #61
Yes, that seems to be what's happening to me too.  I need the logged in user filling out the form to become the author for the post.

[2017-04-06 20:53] sc0ttkclark commented on #61
Sorry, I've been focused on Pods 2.7 stuff this week. Let me shoot back around to this task this weekend.

[2017-04-19 15:08] kbrennan981 commented on #61
Hi @sc0ttkclark, any progress on this?  It's been about 2 weeks since you said you'd look at it?  It's a real issue.  And the more I researched it, it doesn't seem like I'm the only one with this issue.  Please let me know if you have any recommendations on what I can do to fix this problem.

[2017-04-19 17:40] sc0ttkclark commented on #61
Thanks for your patience, it took me longer on those tasks than planned and then my daughter caught strep.

I'm looking into this today, since you're very responsive -- I hope you'll be able to help me test proposed fixes, would that be accurate?

[2017-04-19 17:52] kbrennan981 commented on #61
I am available to help test.  Just let me know what to do.

Thanks,

Kelly

On Wed, Apr 19, 2017 at 1:40 PM, Scott Kingsley Clark <
notifications@github.com> wrote:

--
*Kelly Brennan*

*FutureTix, Inc*
brennan@futuretix.com
www.futuretix.com
516-608-0626

[2017-04-20 03:43] sc0ttkclark commented on #61
Sorry for the delay again today, I had to take my youngest daughter to the doctor's office as she was also having signs of Strep.

I've got a fix in place now, please confirm it's working with the latest version here:
https://github.com/pods-framework/pods-gravity-forms/archive/master.zip

[2017-04-20 08:42] maarten00 opened #62 "Syntax error with latest version"
Hi,

I've loaded the latest version (`dev-master 6a9191e`) in a website, but it throws a syntax error:
[code]

[2017-04-20 09:05] maarten00 opened #63 "Tag releases"
The plugin is on version 1.2 on Wordpress.org:
https://wordpress.org/plugins/pods-gravity-forms/

But the tags here are not up-to-date with the version on WP.org. As I'm installing the plugin using Composer I'm not getting the latest release.
Could you please add tags for the latest releases?

[2017-04-20 13:13] kbrennan981 commented on #61
I cleared some of my schedule today in case you need help testing.  I'd really appreciate if you could take a look at this.  I know life gets in the way though.  I hope you're daughter feels better soon.  Let me know if there is anything I can try to fix it on my own.  Thank you, @sc0ttkclark!

[2017-04-20 13:17] sc0ttkclark commented on #61
@kbrennan981 I replied last night that I've got a fix in place, so feel free to test that whenever you can today. I can push an update out to wordpress.org after htat.

[2017-04-20 13:19] sc0ttkclark commented on #62
I've fixed the latest issue, please confirm. Sorry about that!

[2017-04-20 13:20] kbrennan981 commented on #61
Ooops, I'm sorry @sc0ttkclark.  I missed that last sentence somehow.  I'll test it out this morning and let you know.  Thank you so much. I really appreciate you moving this to the front.

[2017-04-20 13:21] sc0ttkclark commented on #63
I haven't maintained a list of tags for this plugin, I'll go ahead and add them.

[2017-04-20 13:26] sc0ttkclark commented on #63
Added

[2017-04-20 13:26] #63 closed

[2017-04-20 13:27] sc0ttkclark commented on #61
No worries, I accidentally committed a syntax error anyways so you would have hit that first thing today, I just fixed that.

[2017-04-20 13:45] kbrennan981 commented on #61
@sc0ttkclark, Thank you! Thank you! Thank you!  It's working now.  Much appreciated.  I tested it on several different forms and it all seems to go through correctly now.  I sincerely appreciate it!

[2017-04-20 13:46] sc0ttkclark commented on #61
Awesome, I'll get this out in the 1.3 release once I get a few more things done.

[2017-04-20 13:46] #61 closed

[2017-04-20 15:23] maarten00 commented on #62
Checked out commit `677c870` and the issue seems resolved. Thanks!

[2017-04-20 15:23] #62 closed

[2017-04-27 18:08] milesgwood opened #64 "pods GF submission isn't feeding into pods post type when form is displayed and submitted on the dashboard"
So I am trying to add a GF to the dashboard that feeds into pods. I used this code [found here](https://www.stevenhenty.com/gravity-form-in-the-wordpress-dashboard/) to display the form successfully.

[code]
![screen shot 2017-04-27 at 2 01 16 pm](https://cloud.githubusercontent.com/assets/14646010/25497273/0b1c3aec-2b52-11e7-907f-f9598496d997.png)

The form displays properly but upon submission i

[2017-04-27 18:56] jimtrue opened #65 "Update Assets for New Branding for Pods"

[2017-05-07 18:53] sc0ttkclark commented on #65
Merged

[2017-05-07 18:53] #65 closed

[2017-05-07 18:55] sc0ttkclark commented on #64
Have you tried setting up the Pods feed itself from the form settings?

[2017-05-07 18:56] sc0ttkclark commented on #60
Just following up on this, is your pod feed set up to map the first name and last name fields individually to the nombre/apellido_1 fields in the Pods feed settings?

[2017-05-07 18:57] sc0ttkclark commented on #58
Going to close this as resolved, let me know if you have any trouble with that hook.

[2017-05-07 18:57] #58 closed

[2017-05-07 18:59] sc0ttkclark commented on #56
@EdithNet are you still having trouble with this?

[2017-05-07 19:20] sc0ttkclark commented on #55
Just added the ability to edit the current user / current post in the Pods GF feed options.

[2017-05-07 19:20] #55 closed

[2017-05-07 19:32] #54 closed

[2017-05-07 19:37] sc0ttkclark commented on #51
This looks like it was caused by Pods when using pods_attachment_import, this has been fixed in the upcoming Pods 2.7 release.

[2017-05-07 19:37] #51 closed

[2017-05-07 19:40] #50 closed

[2017-05-07 19:40] sc0ttkclark commented on #50
Sorry for the delay, this has been added to the upcoming 1.3 release.

[2017-05-07 19:41] sc0ttkclark commented on #48
This should be fixed as part of the fix in #61

[2017-05-07 19:41] #48 closed

[2017-05-07 19:43] sc0ttkclark commented on #47
Open to ideas on how best to map the address field to a field value.

It would go somewhere around here:
https://github.com/pods-framework/pods-gravity-forms/blob/master/includes/Pods_GF.php#L2967

[code]

Maybe we should just add an address field conditional which implodes separated by comma?

[2017-05-07 19:45] JoryHogeveen commented on #47
When it's done, let's integrate it with the Address field.
https://github.com/pods-framework/pods/pull/3634

[2017-05-07 19:49] sc0ttkclark commented on #46
If you want to customize the edit ID you can try something like the code in #55

If you want to access the new pod item ID, you can try hooking into the `pods_gf_to_pods` action:

[code]

[2017-05-07 19:50] saltnpixels commented on #47
Gravity forms allows you to output whole or parts of the address in an email. So I think similarly we should be able to save either the whole thing as a string or parts in separate custom fields I guess.

thanks

--
Eric (Shamai) Greenfield
SaltnPixels.com | shamai@saltnpixels.com

On May 7, 2017, 3:43 PM -0400, Scott Kingsley Clark <notifications@github.com>, wrote:

[2017-05-07 19:50] #46 closed

[2017-05-07 19:50] sc0ttkclark commented on #44
Works for me :)

[2017-05-07 19:50] #44 closed

[2017-05-07 19:51] sc0ttkclark commented on #43
I've added the ability to enable 'editing' form data using the current logged in user ID as part of work in #55

Should be out in 1.3 :)

[2017-05-07 19:51] #43 closed

[2017-05-07 19:52] sc0ttkclark commented on #47
Related: https://github.com/pods-framework/pods-gravity-forms/issues/42

[2017-05-07 19:56] sc0ttkclark commented on #10
Uploaded files should be working as part of 1.2, is anyone still having issues? Maybe try the latest Pods GF 1.3 work we're doing:
https://github.com/pods-framework/pods-gravity-forms/archive/master.zip

[2017-05-07 19:58] ZoroG commented on #10
Fantastic news Scott. Will have a look and test it and report back,

Many thanks
Michael

On 7 May 2017 20:56, "Scott Kingsley Clark" <notifications@github.com>
wrote:

[2017-05-07 20:04] saltnpixels commented on #46
If I customize the edit ID, will it populate any custom fields in the form?

thanks

--
Eric (Shamai) Greenfield
SaltnPixels.com | shamai@saltnpixels.com

On May 7, 2017, 3:50 PM -0400, Scott Kingsley Clark <notifications@github.com>, wrote:

[2017-05-07 20:08] sc0ttkclark commented on #46
No, this is after the data has already been saved.

You can customize the field values before Pods save them with another hook:

[code]

[2017-05-09 01:09] milesgwood commented on #64
I did set up the Pods feed in the form settings. The feed works fine when I preview the form or place the form into a page. All of the correct fields connect to the correct Pods fields.

The problem occurs when I place the form on the dashboard. When the form is submitted from the dashboard, it creates a new basic post instead of feeding into Pods.

[2017-05-12 16:50] sc0ttkclark commented on #64
Fixed by #67

[2017-05-12 16:50] #64 closed

[2017-05-16 20:14] chriswagoner commented on #10
Previous to 1.2 the POD feed would cause the form to hang. This was fixed in 1.2, now it hangs again in 1.3.

[2017-05-16 20:20] chriswagoner commented on #10
Reverted back to 1.2 - No image carryover. Perhaps I'm doing something wrong (likely).

[2017-05-18 07:14] sc0ttkclark commented on #10
I've pushed some fixes into the master branch (1.3), but I've got a message out to the GF support team to help us refine the upload field value handling for single vs multiple file fields.

[2017-05-18 15:20] chriswagoner commented on #10
That fixed the spinner issue. The feed is now processing, even when file upload is enabled, the form submits anyway. Hopefully GF gets back and can resolve the file parse issue.
Thanks.

[2017-05-18 15:21] sc0ttkclark commented on #10
I've pushed up some additional fixes/enhancements. Now sub inputs get mapped (mapping a Name [First Name] field to a pod field), but I'm still waiting to hear back from GF support about how to handle the file uploads during the validation stage.

[2017-05-19 21:08] sc0ttkclark commented on #10
Phew, finally made it through all of the cases I could think of to cover. Have a go at it! Single or multi both work!

[2017-05-22 13:06] chriswagoner commented on #10
Wow, that's great. The uploads *are now working!* They're going into the POD media field **and** to the media library. Sadly, no longer mapping the categories or tags.... so close!

[2017-05-22 13:09] jimtrue commented on #10
@chriswagoner Can you please open a separate issue for the categories or tags? (it's really hard to track issues properly when they're combined on one bug report.

[2017-05-22 13:09] chriswagoner commented on #10
@jimtrue NP.

[2017-05-22 13:10] chriswagoner opened #68 "Categories & Tags Aren't Mapping"
Your update for media uploads worked wonderfully, but it broke the category, tag, and custom field mapping. Yikes!

[2017-05-22 13:11] jimtrue commented on #68
Can you be more specific, because that would sound like it broke ALL custom field mapping?

[2017-05-22 13:12] chriswagoner commented on #68
It did break ALL custom field mapping. Doesn't work.

[2017-05-22 13:12] jimtrue commented on #68
You can't map any fields in your forms to any pods fields EXCEPT upload files?

[2017-05-22 13:13] chriswagoner commented on #68
Correct. Unless I'm really screwing it up... I reverted to a previous version and that worked for categories, tags, and CF - but not media. Went back to the latest master and the media works, but Cats, Tags, and CF don't work at all.

[2017-05-22 13:16] jimtrue commented on #68
I don't have a GF test site setup at present, so give me some time to setup a local test site specific for Gravity Forms. Make sure you also cleared Cache in the Pods Settings, Clear Cache.

[2017-05-22 13:21] chriswagoner commented on #68
I got really hopeful for a minute. Clearing the POD cache didn't work.

[2017-05-22 13:32] jimtrue commented on #68
I'm not seeing the issue you're seeing. All of my custom fields mapped, but my Categories & Tags also didn't work (they don't even show up in the Pods Feed portion). How do you have yours configured? Are you adding the fields as Post Objects?

Can you screenshot your Pods Feed page?

[2017-05-22 13:37] jimtrue commented on #68
Well, that was odd, left to add a Custom Taxonomy to see if it had the same issue and when I came back my Pods Feed Settings had the Category & Tag options.

My Custom Taxonomy did send over the id, not the actual Taxonomy selected field, so need to validate that one again.

[2017-05-22 13:39] chriswagoner commented on #68
Categories and Tags don't work - but I will try deleting and starting over with those. You can see a POD new taxonomy here. I have tried standard checkboxes, tags, custom... nothing seems to work. Everything is feeding into the form Correctly.
Note: previously, when I would map tags, I had to have the same amount of "dummy" items in the field as PODS was populating so else it would give me an erro

[2017-05-22 13:42] jimtrue commented on #68
![screenshot 2017-05-22 09 38 05](https://cloud.githubusercontent.com/assets/3052875/26311497/7cab18ca-3ed2-11e7-8f7f-77218d78ac11.png)
This is what mine did; it actually added a new Uncategorized

My Tags mapped properly

![screenshot 2017-05-22 09 38 33](https://cloud.githubusercontent.com/assets/3052875/26311536/a4df24e4-3ed2-11e7-8e66-b4a8d735202a.png)
But my Custom Taxonomy added another Taxo

[2017-05-22 13:44] chriswagoner commented on #68
The resource_type is configured as checkboxes and POD Feed is checked. On the form, it shows up with all the options. But nothing is fed through. SO, I changed the box type to tags - same. Changed it to custom - same.... I am deleting and retrying since it's working for you.

[2017-05-22 13:45] #10 closed

[2017-05-22 13:45] jimtrue commented on #68
I'm mapping post tags to associated taxonomy 'tags'. There is no other 'field form' that acts like that, so I'm not sure it would work, but it should on a non-hierarchal taxonomy.

[2017-05-22 13:46] chriswagoner commented on #68
Will try that now...

[2017-05-26 20:51] jimtrue opened #69 "Need to fix icons and add banner.svg"
Icons were 250 not 256 width

[2017-05-26 20:53] jimtrue commented on #69
Duplicate of #65

[2017-05-26 20:53] #69 closed

[2017-05-31 14:35] sc0ttkclark commented on #68
Any luck?

[2017-06-01 03:03] chriswagoner commented on #68
Everything seems to be working except multi-upload. Am I missing a POD setting or Gform? I tried a few options. If it's working for you, could you snapshot your settings?

[2017-06-01 06:29] sc0ttkclark commented on #68
Just pushed some more fixes, please try again and let me know if I've covered all of the cases now. I've just tested post categories and tags too.

[2017-06-01 14:10] jimtrue commented on #68
Everything worked for me (Categories, Tags, Multiple images). The only thing I still had an issue with was the Custom Taxonomy writing itself as the Term_ID, not mapping to the actual Taxonomy selected in the drop-down. I used Multiple-Select form input, but Mapped the only place it was available, in WP Objects.

[2017-06-01 14:16] jimtrue commented on #68
![screenshot 2017-06-01 10 15 24](https://cloud.githubusercontent.com/assets/3052875/26683894/5af75a20-46b3-11e7-8d6f-a76ca5ec6fd2.png)

Here's what I'm seeing on multi-selection. It's basically writing the array as the value of the taxonomy.

[2017-06-01 14:57] chriswagoner commented on #68
As far as I am concerned, the plug-in is fixed per the issue I started with. @jimtrue I think you still have an issue there, which happens to be with the multi-select. But it looks like you and @sc0ttkclark are on track. That may be the last bug left to squash. Checkbox multi-selection works for me.

Great work by both of you guys! Thanks for your help!

[2017-06-01 16:13] sc0ttkclark commented on #68
@jimtrue Ready for another test.

Also you'll notice I just added the ability to prepopulate form fields based on the current post / current user (depending on the pod, but it follow similar logic to allowing editing)

[2017-06-01 16:15] jimtrue commented on #68
Still doing the ["3","2"] on Genre

[2017-06-01 16:15] jimtrue commented on #68
Oh duh, I need to pull code down, stand by

[2017-06-01 16:17] jimtrue commented on #68
Fixed! You'll have to show me how to do the populate form fields based on current post/current user, so we can demonstrate that to others.

[2017-06-01 16:31] sc0ttkclark opened #71 "Add support for {pods.XYZ} GF merge tags when a pod feed is setup"
Then you can set default values for certain fields based on the current post/user pod field values.

[2017-06-01 17:17] chriswagoner commented on #68
@jimtrue when you create a dozen genres in the POD and only 3 items (default) in your form, can you get all of them to select and come through selected?

[2017-06-02 14:39] sc0ttkclark commented on #68
If you have any other issues, please open a new ticket. Thanks!

[2017-06-02 14:39] #68 closed

[2017-06-05 13:47] jimtrue opened #72 "Feature Enhancement: Populate Fields from Pods to Form Fields"
Now that you've created this amazing Form Field to Pods Processor 'match' in the latest version if the names are the same, I'm wondering about the feasibility of actually starting a Gravity Form with Pods at the Pods processor screen. Build the feed first and when it recognizes that no fields have been added to the Form, give the option of auto populating from the post fields.

Could have the opti

[2017-06-05 14:41] sc0ttkclark commented on #72
I can't imagine this being too difficult, but we'll have to see how involved it is to create fields from the GF API, and how to create feeds/settings from the GF API.

As for how to tackle this, I suggest we add a link in the Pods Admin area for each pod that is 'Create Gravity Form' (hover: 'Create Gravity Form from this Pod') and have that be the actionable part.

[2017-06-05 14:47] jimtrue commented on #72
Instead of driving it from the GF interface?

[2017-06-05 14:48] jimtrue commented on #72
And yep, I figured the biggest difficulty in this one would be creating fields and settings with GF API, but I didn't want to lose the idea either ;)

[2017-06-05 15:00] sc0ttkclark commented on #72
`GFAPI::add_form( $form )`
https://www.gravityhelp.com/documentation/article/api-functions/#add_form

`GFAPI::add_feed( $form_id, $feed_meta, $addon_slug )`
https://www.gravityhelp.com/documentation/article/api-functions/#add_feed

[2017-06-16 10:06] rpall commented on #53
+1 for this

[2017-06-27 15:26] jimtrue opened #73 "Pod ID is not populating in the Form Entries List"
From this Forum Post: https://wordpress.org/support/topic/entry_id-is-not-sent-to-pod/

Verified on my local installation:
![screenshot 2017-06-27 11 22 30](https://user-images.githubusercontent.com/3052875/27595679-5c7b02c0-5b2b-11e7-88e7-6fcf6e2dc27e.png)

[2017-06-28 19:33] Sarah-p opened #74 "Feature Request: Assign more then 1 field to a taxonomy"
I was trying to set up a multiple Gravity Form fields and assigning them to the same taxonomy, but after talking with Jim True in the Pods Slack chat, that's not possible. This would be a very nice feature if you have more than 1 GF field and want them all to be assigned to the same taxonomy. My situation was a Location taxonomy and trying to get Country/Region/City to all go to the Location categ

[2017-06-28 19:36] jimtrue commented on #74
This would require all 3 forms to be populated from the same taxonomy in order to properly submit 3 separate values to the same taxonomy in the Pods Processor.

I was thinking this would be a necessary solution when Gravity Forms launches this:
https://www.gravityhelp.com/gravity-forms-chained-selects-add-v1-0-beta-1-released/

[2017-06-30 17:10] jimtrue opened #75 "Bug: Post Image Field (in Post Fields) doesn't work for Featured Image"
Regular File Upload/image field works, but post image field does not.

[2017-07-06 00:34] letmegreg commented on #45
I'm having a similar problem, however, my issue is that I can't get the bi-directional field to save when populated from the predefined hidden field that has a predefined value of {user:user_login}.
Jim tried to assist me with this tonight but it was out of support hours so we couldn't get to the bottom of it.

The field is generating perfectly within the gravity form on the front end and the post

[2017-07-07 14:09] ChrisO2134 opened #76 "Form failed to create pods after new pod element created"
I have found and worked around the issue, but this may need looking at for development. Thanks

PROBLEM: Form was working fine creating pods but then failed to pass entries to pods after a new pod element created, despite that pod element not being referenced by the form. Form showed completed entry within Gravity form backend and user confirmation emails were sent. User was not however sent to co

[2017-07-08 10:16] devloprs commented on #39
I am still having this issue. I can see it in the media gallery but it is not mapping to the featured image in my post cpt. Am I missing the solution to that issue somewhere?

Thanks Kindly,
Brad

[2017-07-08 11:34] jimtrue commented on #39
How are you defining the field map in the Pods Processor and what type of field are you using in your form? Screenshots of the two areas are okay to submit here.

[2017-07-08 11:35] jimtrue commented on #39
@devloprs please open that as a new issue or add onto #35

[2017-07-26 20:12] jimtrue commented on #60
@Titan92 We haven't heard anything further from you on this since you initially opened the ticket in March. I'm closing this ticket as inactive. If you're still having this issue, please just respond to the ticket and we'll re-open.

[2017-07-26 20:12] #60 closed

[2017-07-26 20:13] jimtrue commented on #57
@stddd We haven't heard anything further from you on this since you initially opened the ticket in November of 2016 (nor did you reply to @lukecav questions). I'm closing this ticket as inactive. If you're still having this issue, please just respond to the ticket and we'll re-open.

[2017-07-26 20:13] #57 closed

[2017-07-26 20:14] jimtrue commented on #56
@EdithNet We haven't heard anything further from you on this since you initially opened the ticket in October of 2016. I'm closing this ticket as inactive. If you're still having this issue, please just respond to the ticket and we'll re-open.

[2017-07-26 20:14] #56 closed

[2017-07-27 11:23] ChrisO2134 opened #77 "Featured Images not updating when trying to update post from front end form"
When using a gravity form on a pod post page to update form fields, all text fields can be updated and saved over and over, however images can only be saved once, then all further image files get ignored so featured image cannot be updated.

[2017-07-27 12:26] ChrisO2134 commented on #77
UPDATE: Issue seems to fix if using the 'File Upload' choice as form field in Gravity form rather than 'Post Image' field. I'm not clever enough to know why that is, but hope this info helps find the bug.

[2017-07-27 12:30] jimtrue opened #78 "Enhance: Integrate Pods into User Registration Add-on instead of Pods Processor"
This is more along the lines of, I believe, better handling. When using the Pods Processor with Gravity Forms to a 'User' pod, we require three fields to be completed (user_login, user_pass and user_email, respectively):
![screenshot 2017-07-26 16 21 36](https://user-images.githubusercontent.com/3052875/28670056-f546805c-72a4-11e7-92f0-518c623ffd3e.png)

In this method, we don't give any option to

[2017-07-27 15:07] jimtrue opened #79 "Bug: Autocomplete mapping hits Size Limit when Populating from Pods"
From this WordPress.org Forum Post:
https://wordpress.org/support/topic/populating-dropdown-with-pod-items-size-limit/

Validated that regular Relationship fields (drop-down select, etc.) are not running into this issue, only the AutoComplete field mappings

[2017-07-31 01:55] dlfdlf56 opened #80 "Warning: strlen() expects parameter 1 to be string, array given"
I'm trying to connect a custom post type from Pods to Gravity Forms and getting an error "Warning: strlen() expects parameter 1 to be string, array given in /public_html/wp-content/plugins/pods/classes/fields/text.php on line 202" whenever I submit a form.

I'm running the following versions:
Wordpress 4.8
Gravity Forms 2.2.2
Pods 2.6.10
Pods Gravity Forms Add-on 1.3

[2017-08-25 11:04] ChrisO2134 opened #81 "Category Selections creating errors"
Potential bug. Been using the Pods - Gravity Form plugin to create pods from front end forms. When having a 'select categories' option on a form it creates errors on the screen above the form (however the categories are still selected when you submit the form) It just looks ugly, not sure I can fix it here, think it's in the plugin code somewhere. See screenshot. Thanks  Screenshot -
 https://pods

[2017-08-30 11:50] jboulhous commented on #53
+1 for this

[2017-08-30 20:38] jimtrue opened #82 "Bug: Some Fields are not populating from Existing Record when Populate is Checked"
From @userphil:

"Enable populating field values for this form using current post" in pods feed settings is checked.

When loading the form most fields populate with existing data, however check boxes, multi-select fields and address sub-fields do not populate with existing data.

Current versions
PODS - 2.6.10
PODS Gravity Forms Addon - 1.3
Gravity Forms - 2.2.5

*Fields Impacted*:
All Relationsh

[2017-09-04 13:15] kimsingleton opened #83 "parameter mismatch"
Immediately after submission of a gravity form that is writing to a pod, I get these warnings momentarily:

Warning: strtolower() expects parameter 1 to be string, array given in /home/mysite.com/atll/wp-content/plugins/pods/classes/fields/boolean.php on line 239

Warning: strtolower() expects parameter 1 to be string, array given in /home/mysite.com/atll/wp-content/plugins/pods/classes/fields/boo

[2017-09-07 21:59] CosmikCarrot opened #84 "Multiple feeds not showing in pods posts"
I had 2 feeds working and displaying earlier. I’ve since extended it to 10 - https://screencast.com/t/PlhagiJFBlu3
All the info from GF is there in the entry submitted.
The Pod is still working and displaying as a CPT, however the multiple feeds are no longer working as none of the data is displaying in a draft CPT post.
I’ve turned off the multiple feeds and tried just 1 event, and that works.

[2017-09-08 12:22] CosmikCarrot commented on #84
Example of feeds -
Form1 - Entry1 - Feed1 - Pods CPT
Form1 - Entry2 - Feed2 - Pods CPT
Form1 - Entry3 - Feed3 - Pods CPT

[2017-09-08 15:17] CosmikCarrot commented on #84
Found out that the feeds are not possible, so I'll create duplicate CPT's.

[2017-09-08 15:51] sc0ttkclark commented on #84
Can you clarify them not being possible? I'd just like to know for future reference

[2017-09-08 16:03] jimtrue commented on #84
He's trying to send 10 posts to 'events' from one form. This _might_ be possible if the 10 forms you have for 'events' are 10 separate 'sub forms' with their own fields, each mapping to 'events' as a separate feed. But I think honestly, you're just colliding because 10 of your feeds are to the same post-type.

[2017-09-08 16:18] CosmikCarrot commented on #84
How do I provide the GF.json file that I've exported for you to view?

[2017-09-08 16:22] CosmikCarrot commented on #84
Here are the 10 Feeds - https://screencast.com/t/IbWkrrlGVu

Here is one of the feeds and the fields mapped out -
https://screencast.com/t/lRJzTzNHFl

[2017-09-08 17:02] jimtrue commented on #84
You can zip it up and upload here.

[2017-09-08 18:12] tokazama2 opened #85 "Uploaded File Using Gravity Form Does Not Attach to Pod Post"
Using Pods 2.7 rc1, Gravity forms 2.2.5, Pods Gravity Forms Add-on 1.3.
I have been working on a gravity form. All fields are mapped and working with Pods, except the file upload. The files upload to my server, but not to the pod. I've been chasing my tail trying to figure this out.

- The Pod field, "resource_upload", is set with File Uploader: Upload and/or Select
- The Gravity Form field, "Reso

[2017-09-08 18:19] tokazama2 commented on #85
I tried reverting back to Pods 2.6 and that does not solve the problem

[2017-09-11 07:30] CosmikCarrot commented on #84
Thanks Jim,

Here is the json zipped up.

[gravityforms-export-2017-09-08.json.zip](https://github.com/pods-framework/pods-gravity-forms/files/1291726/gravityforms-export-2017-09-08.json.zip)

[2017-09-11 07:34] CosmikCarrot commented on #84
Here is the Pods export and the Template-

{"meta":{"version":"2.6.10","build":1505115231},"pods":{"954":{"id":954,"name":"hosted_event","label":"Hosted Events","description":"","type":"post_type","storage":"meta","object":"","alias":"","fields":{"title_of_event":{"id":958,"name":"title_of_event","label":"Title of event","description":"Title of event","help":"","class":"","type":"text","weight":0,

[2017-09-11 11:30] CosmikCarrot commented on #84
Let me know if you need any more info @sc0ttkclark ?

Thanks!

[2017-09-12 12:20] CosmikCarrot commented on #84
Hi @sc0ttkclark,

What's the timescale for a fix? or example, please?

Just to recap the issue, there is 1 Gravity Form, and on the form there is the possibility of all the fields completed for 10 'events'. Each of these 'events' needs to be created as individual draft CPT posts. Then they can be published by the User.

There are 10 feeds created at the moment.

I'm sure someone else has done some

[2017-09-12 13:19] sc0ttkclark commented on #84
I haven't yet been able to import your setup, but let me take a look and see today.

[2017-09-12 13:21] CosmikCarrot commented on #84
Thanks @sc0ttkclark

Much appreciated!

[2017-09-12 22:02] sc0ttkclark commented on #84
It looks like the Pods feeds did not export/import, can you provide me with a couple of screenshots of the settings you're using on the feeds that aren't being picked up, and a couple of screenshots of the settings you're using on the feeds that are?

[2017-09-13 10:54] CosmikCarrot commented on #84
Thanks @sc0ttkclark

I've built a fresh new CPT and re-mapped the GF fields, a 'single' draft post does appear in the CPT.

I have one Gravity Form, with 1-10 possible ‘events’ to populate, with each event containing a set of 14 fields. Each event needs to be fed into a CPT (via Pods) with the 14 fields and shown as 'separate' Draft posts if the event has been populated.
There are 10 feeds current

[2017-09-13 13:37] sc0ttkclark commented on #84
The form you sent only had fields for one event, am I missing the real form?

[2017-09-13 13:38] sc0ttkclark commented on #84
Nevermind! THERE they are :)

[2017-09-13 13:40] sc0ttkclark commented on #84
Just an idea for you to make this easier to work with going forward, while you have your field labels making sense based on headings in the form, the dropdowns are harder to be sure you're in the right event # for mapping. You should definitely utilize the Advanced > Admin Label option for GF field. Example here where I changed the admin label for the fifth event to "Title 5":

http://sc0tt.me/0y3

[2017-09-13 14:01] CosmikCarrot commented on #84
Thanks @sc0ttkclark

I've tried the Admin Field Label, but that doesn't appear to feed through to the mapping section. Saved GF after the label update, refreshed the mapping, and no update.
Why would it not feed through?

[2017-09-13 14:20] sc0ttkclark commented on #84
I'm checking that right now, also upgrading our interface to handle Conditional Logic (only run a feed if certain field[s] have a value).

[2017-09-13 15:15] CosmikCarrot commented on #84
Thanks @sc0ttkclark

Let me know if you need anything else I can help you with to solve this.

Thanks.

[2017-09-13 16:03] sc0ttkclark commented on #84
To verify, your report here is primarily that pod feeds only process the first one and not multiple -- correct?

[2017-09-13 16:06] sc0ttkclark commented on #84
I've looked through the code and it would be too time intensive to set things up to support multiple feed 'instances' of the Pods_GF class, mainly because it was only ever meant for a single use. As a result of that, most of the methods are only set to run once per form ID. So I'd have to build a whole instance handler and have them run once per form ID AND instance, which would really complicate

[2017-09-13 16:08] sc0ttkclark commented on #84
In the mean time, you should be able to create as many events as you'd like via PHP and the GF hook for `gform_after_submission` https://www.gravityhelp.com/documentation/article/gform_after_submission/

[2017-09-13 16:15] CosmikCarrot commented on #84
Thanks @sc0ttkclark

At least I know I was trying the impossible for the time being. Thanks again for looking into this for me. I think I'll go with not the desired solution of multiple CPT's so they'll all at least appear in those 10 CPT's to draft.

Thanks.

[2017-09-13 16:20] sc0ttkclark commented on #84
I can also say for sure that Pods_GF doesn't support the ability to have multiple feeds on the same form, even if they are different Pods. If something is working, that's not intentional and could likely break in the future until we address this ticket.

[2017-09-13 16:21] CosmikCarrot commented on #84
@sc0ttkclark - In reply to your question, Yes, Pods only processes the first one, and not multiple feeds.

Thanks for the confirmation!

[2017-09-13 17:13] sc0ttkclark commented on #79
Fixed in #86

[2017-09-13 17:13] #79 closed

[2017-09-13 17:14] sc0ttkclark commented on #85
Try the latest 1.4 I'm working on getting out: https://github.com/pods-framework/pods-gravity-forms/archive/feature/skc-fixes.zip

[2017-09-13 17:15] sc0ttkclark commented on #83
Please try the latest 1.4 I'm working on: https://github.com/pods-framework/pods-gravity-forms/archive/feature/skc-fixes.zip

[2017-09-13 17:15] sc0ttkclark commented on #82
Please try the latest 1.4 I'm working on: https://github.com/pods-framework/pods-gravity-forms/archive/feature/skc-fixes.zip

[2017-09-13 17:16] sc0ttkclark commented on #81
Please try the latest 1.4 I'm working on: https://github.com/pods-framework/pods-gravity-forms/archive/feature/skc-fixes.zip

[2017-09-13 17:16] sc0ttkclark commented on #80
Please try the latest 1.4 I'm working on: https://github.com/pods-framework/pods-gravity-forms/archive/feature/skc-fixes.zip

[2017-09-13 17:17] sc0ttkclark commented on #77
Please try the latest 1.4 I'm working on: https://github.com/pods-framework/pods-gravity-forms/archive/feature/skc-fixes.zip

[2017-09-13 17:18] sc0ttkclark commented on #76
Sounds like a potential bug in Pods itself, will have to investigate further with @jimtrue

[2017-09-13 17:19] sc0ttkclark commented on #75
Please try the latest 1.4 I'm working on: https://github.com/pods-framework/pods-gravity-forms/archive/feature/skc-fixes.zip

[2017-09-13 17:21] sc0ttkclark commented on #45
Please try the latest 1.4 I'm working on: https://github.com/pods-framework/pods-gravity-forms/archive/feature/skc-fixes.zip

[2017-09-13 22:15] tokazama2 commented on #85
I did a quick test and it still isn't working.  I will play around with some settings, but may not be able to get to it until tonight.

In the Gravity Forms Feed Settings, I see there is a new Custom Fields area.  Should I use that as opposed to the pods field mapping at the top of the page?

Does it make any difference in the Pods Custom Field option the type of File Uploader I select?

[2017-09-14 20:43] dlfdlf56 commented on #80
This appears to be fixed in the Beta version!  Thank you!

[2017-09-14 23:13] sc0ttkclark commented on #80
Awesome!

[2017-09-14 23:13] #80 closed

[2017-09-20 15:50] HBMBR commented on #35
Hi i seem to be facing this problem, the issue is also extending to Multi-select as well.

[2017-09-20 16:17] HBMBR commented on #85
Hi i seem to be facing this problem, the issue is also extending to Multi-select as well.

[2017-10-04 19:47] tokazama2 commented on #85
@sc0ttkclark Any luck on figuring this one out?  I would be happy to pay for this to be fixed.  :-)

[2017-10-04 19:55] sc0ttkclark commented on #85
I should have some more time this weekend, will take another crack at it. Feel free to donate to https://pods.io/friends-of-pods/ anyways :)

[2017-10-04 22:19] tokazama2 commented on #85
@sc0ttkclark Done. Thanks!

[2017-10-10 15:06] sc0ttkclark commented on #85
Still looking into this for you @tokazama2

[2017-10-10 23:01] siy34 opened #87 "Prefilling in edit form doesn't show file field data?"
Hi, I noticed when putting an edit form inside a singular pod page, the file field doesn't show existing files that have been previously uploaded to the pod. Is this a bug or a feature yet to be implemented?

[2017-10-10 23:04] jimtrue commented on #87
I'm not sure I follow what you mean by 'putting an edit form inside a singular pod page'. Can you clarify or provide a screen shot?

[2017-10-10 23:06] jimtrue commented on #87
If you're talking about the facility where it's supposed to load existing field content to edit the existing record, you are correct: images, file fields and I believe relationships do not populate at this time. This feature is in _progress_ but not fully functional, yet. I believe 1.4 should fix this, but would need @sc0ttkclark to clarify.

[2017-10-11 02:40] siy34 commented on #87
Yes, that's exactly what I was asking about.  Thank you Jim for addressing it. I'll give 1.4 a try.

[2017-10-11 02:50] siy34 commented on #87
Just tested with 1.4 pre-release. This feature doesn't seem to be in place yet.

[2017-10-11 09:24] siy34 commented on #87
@sc0ttkclark Another field type that does not populate in the form to edit is multi-select related post.

[2017-10-20 16:39] Pietroibba commented on #26
Hi, I know that are a very old topic, but maybe in this two years something changes:

I need, in a gravity form (using Pods + GF + pods plugin for GF), to load an existent pod row data (create using separated table, not in posts table) to update it.

Do you know if is actually possible to do?

[2017-10-27 17:08] jimtrue commented on #85
@tokazama2 I checked the 2nd upload you provided and form and had no issues. I thought there might be a problem because the File Upload style was a PLUpload. Since the Processor settings don't come across on the JSON from Gravity Forms, I'm wondering if maybe that's where you're running into the problems.

I could not get your initial configuration and form to work properly. It never passed the do

[2017-11-06 16:12] Brian-Milnes opened #88 "Pods linked fields in a Gravity Form won't add any more"
I've been working on Gravity Forms with Pods Gravity Forms Add-On
Great, populating from Pods using Pull-downs to select.
Except it's stopped working for new Gravity Forms
Thought it was something I was doing wrong, but no, if I Duplicate a working form, it doesn't work - no pull down selections available.

[2017-11-06 16:19] #88 closed

[2017-11-11 12:46] sc0ttkclark commented on #88
Did you mean to close this? Is there still a problem here?

[2017-11-11 12:49] Brian-Milnes commented on #88
Thanks Scott, yes I meant to close it. (Or delete it, preferably)
The primary cause was that Duplicating a Gravity Form does not retain the Pods settings.
Thanks
Brian

[2017-11-11 13:13] sc0ttkclark commented on #88
Sorry about that, I realllllly wish GF would duplicate Pods feeds, as well as when exporting/importing.

[2017-11-11 13:16] sc0ttkclark commented on #88
I went ahead and reported to our contact at GF (feeds not included when duplicating or using export/import)

[2017-11-11 13:32] Brian-Milnes commented on #88
OK, cool

[2017-11-11 14:31] sc0ttkclark commented on #88
GF let me know I can add support for duplicating feeds:

https://github.com/pods-framework/pods-gravity-forms/commit/4fc3f86e07dfa186e4c93d7a8e9b75f397ee280b

That's now supported! Import/export is something they're still looking into but that's not part of your original problem. Happy coding!

[2017-11-21 22:32] tokazama2 commented on #85
Sorry for the delay.  I was side-tracked by a different project. I created a new very simple pod with only one field (file upload) and a simple form (document title, file upload).  Please see attached applicable documents.

[Pods Configuration Export Results.txt](https://github.com/pods-framework/pods-gravity-forms/files/1493224/Pods.Configuration.Export.Results.txt)
[gravityforms-export-2017-11-2

[2017-11-22 20:40] Brian-Milnes opened #89 "GF addon only allows selecting from one Pod per form"
My developer and I are struggling with the limitation of using only one Pod per Gravity Form.
We have a workround but that doesn't really work well.
Is adding fields from multiple Pods to one Gravity Form a possibility, please?

[2017-11-22 20:50] jimtrue commented on #89
This is related to #84 Closing this issue in favor of that one. Please add your input to that issue.

[2017-11-22 20:50] #89 closed

[2017-11-22 22:08] Brian-Milnes commented on #84
To confirm from that duplicate issue, we'd quite like multiple feeds in a single Gravity Form, please!

[2017-11-22 22:18] Brian-Milnes commented on #84
We're already using that gform_after_submission as well as gform_pre_render in the workround, but it's not elegant

PS. GF have moved their URLs for documentation
 https://docs.gravityforms.com/gform_after_submission/

[2017-11-23 11:57] Brian-Milnes commented on #26
Uh, oh.
This limitation just tripped me up.
I am busy building based on Pods and GF, then find we can only Create, rather than Edit.
So my Plan to use Gravity Flow, to pass Gravity Forms between different Users, for them to amend and append, is up in smoke?

[2017-11-23 13:31] Pietroibba commented on #26
So do you think it's not possible to load fields into GF fields?

[2017-11-23 13:46] Brian-Milnes commented on #26
No, you can Create Pods fields data with GF, but afterwards it isn't possible to edit that field with GF (only 'C'reate, from CRUD model)
The GF fields (entries) have no relationship with Pods fields once created.

[2017-11-24 01:54] jimtrue commented on #26
@Brian-Milnes That's actually not accurate. We maintain a filter `pods_gf_addon_edit_id` that is designed to populate an existing record to edit.
`add_filter( 'pods_gf_addon_edit_id', 'my_set_the_id' );` where `my_set_the_id` is the function you use to return the correct ID.

https://github.com/pods-framework/pods-gravity-forms/blob/master/includes/Pods_GF_Addon.php#L618

[2017-11-30 17:25] Hornet25 commented on #82
Scott, I am not sure how to do this, so forgive me if I am making a mistake but I have an issue that Jim suggested I highlight here. I am trying to edit a POD using the Gravity Form plugin on the front end. I have created the POD and added the form to the bottom of the template which works like a dream. The standard fields are populated in the edit section and I can update them as I wish. In the P

[2017-12-12 18:42] napa-web-designer opened #90 "Gravity Forms Featured Image not being added to post upon submission"
I created a Gravity Forms form with a Post Image Field and mapped it as the Featured Image in my GF Pods settings. Then submitted post and although everything else seemed to work as expected, the Featured Image did not.

I recorded a video running through my settings as I was not sure exactly what would help and this way I could quickly show you everything I think you might want to know to replica

[2017-12-21 12:48] martinderm commented on #42
The same is true for Checkboxes and Autotomplete fields.

[2017-12-30 10:37] quasel opened #92 "Enable populating field values for this form - tries to create a new CPT Entry"
@sc0ttkclark in slack:

if I'm not mistaken this option is only meant to prepopulate values based on Current $post_id but not save the form to the same CPT? It works but throws an error `Content, title, and excerpt are empty.` as it tries to creat a new entry afterwards ;) either add an option to not save to pods after submit or add another option

in the end there are 3 use cases for a single fee

[2018-01-01 15:43] neilgilmour opened #93 "Integrate with GravityFlow to allow Pods as a workflow step"
It would be super cool to have the ability to set Pods stuff as a workflow step in GravityFlow.

Here's there doc on how to make a step: http://docs.gravityflow.io/article/93-step-framework

[2018-01-02 16:26] sc0ttkclark commented on #93
Cool idea, I like it!

[2018-01-04 14:05] Hornet25 opened #94 "Yes/No Radio buttons not keeping their setting when form submitted"
Dear Sirs,
I have set up a gravity form to update a Pod from the front end. All of the fields are working correctly apart from the Yes/No fields which do not appear to be storing the current status when the form is saved. The Pod has the field set up as a Yes/No with the input type being a Radio Button. The Gravity Form has fields as Radio Buttons and the Form Fields are correctly mapped to the Po

[2018-01-04 14:08] jimtrue commented on #94
@Hornet25 To help us out, if you can, please provide an export of the form in question using Gravity Form Export and also provide us the Pods Admin, Components: Migrate Packages export including your pods configuration and templates.

Thanks!

[2018-01-09 19:46] httpmax opened #95 "Gravity Forms Pods addon not supplying values correctly causing Gravity Forms validation to fail."
[test-gravityforms-export-2018-01-09.json.txt](https://github.com/pods-framework/pods-gravity-forms/files/1616367/test-gravityforms-export-2018-01-09.json.txt)
[pods-type-and-taxon.txt](https://github.com/pods-framework/pods-gravity-forms/files/1616368/pods-type-and-taxon.txt)

Above are the exports of Gravity forms and the pod with content type and taxonomy.

I am using the gravity forms addon to

[2018-01-10 23:43] jimtrue commented on #95
@httpmax Unfortunately the Feed configuration isn't included in the Gravity Forms export. Can you provide a screenshot of your Pods Feed configuration for this form?

[2018-01-11 01:16] httpmax commented on #95
The Pod: https://i.imgur.com/cx8R6qo.png

[2018-01-11 01:18] jimtrue commented on #95
Thank you for that @httpmax but we need the Gravity Form, Pods Feed configuration screen (where you map the fields in your Pod to the fields in your form). The pods configuration is loaded in your JSON above.

[2018-01-11 01:23] httpmax commented on #95
My apologies

https://i.imgur.com/8WFBOux.png

[2018-01-12 17:17] jimtrue commented on #95
@httpmax I think this has more to do with your structure than anything else. You've got a Taxonomy with a relationship field to itself and you're attempting to create a form that populates that relationship 'choice' when you don't even have a 'term' defined in your form. You can't do that. You have to define a taxonomy term for a form, or you can't save any custom term meta for a non-existent form

[2018-01-18 15:10] Hornet25 commented on #94
Scott,
I appreciate the workload, but I was wondering if there was any ideas as to the time frame for a response or fix.

Kind regards,

Ian

[2018-01-20 00:29] jimtrue commented on #94
@sc0ttkclark Reference with JSON for Form & Migrate: Packages:
https://secure.helpscout.net/conversation/498781346/199?folderId=1630325

Internal HelpScout for Privacy reasons

[2018-01-30 14:27] Hornet25 commented on #94
Scott,

Is there any time frame on the issue I have raised? I just have a meeting with my client tomorrow and if possible would like to give some sort of timing update.

Kind regards,

Ian

[2018-02-13 10:53] Anil-official opened #96 "Pods Gravity Forms requires that the Pods and Gravity Forms core plugins be installed and activated."
when i install gravity forms Pods Showing this Notice
:**Gravity Forms requires that the Pods and Gravity Forms core plugins be installed and activated.**
kindly solve this issue as soon as possible

[2018-02-13 11:03] jimtrue commented on #96
Do you have Pods and Gravity Forms installed and activated in your installation? They are both required to use this plugin.

[2018-02-20 17:34] mgratch opened #97 "Possible Caching bug - IIS 7.5"
I have a weird GF + Pods + ?Caching? issue.  Maybe any light can be shed....

Always the first drop down field will lose its GF to Pods connection (no matter which drop down, I have rearranged them, I have deleted them and created new ones etc)  I then clear pods cache and it works for 1 page reload. Then it stops.  The site is running on iis 7.5 with no caching at all and php 5.6, see details her

[2018-02-20 18:42] sc0ttkclark commented on #97
Not sure myself what would cause this initially. Have you tried using Pods Alternative Cache to see if it alleviates any issues here?

[2018-02-21 18:07] mgratch commented on #97
Nothing IIS related -- I was able to recreate it on VVV. I will submit a patch soon.

[2018-02-22 02:49] mgratch commented on #97
it seems `self::$related_objects` is not setup yet when the first field replacement is fired.

https://github.com/pods-framework/pods/blob/2.x/classes/fields/pick.php#L1977

[2018-02-22 03:12] mgratch commented on #97
adding `$this->setup_related_objects( true )` to the conditional statement https://github.com/pods-framework/pods/blob/2.x/classes/fields/pick.php#L1977 fixes it, I don't have the time to work out why.... please let me know if you can shed some light on this. Otherwise I will circle back if I have time later.

[2018-02-23 19:07] tehkz77 opened #98 "Multi-Select Issue - Front End Editing"
When using "Populate Related Items", it works great if it's a single select item.  However, if it is a multi-select (check-box, auto complete, etc..) no data is displayed and I get the following.
With WP Debug = True I get pages and pages of:
Warning: explode() expects parameter 2 to be string, array given in /home/******/public_html/wp-content/plugins/gravityforms/forms_model.php on line 3348
War

[2018-02-23 19:29] jimtrue commented on #96
@Anil-official Did you see my note above? Do you actually have Pods and Gravity Forms Installed and Activated? If you do not, you will continue to get the message above as the plugin requires **both** to be installed and activated.

[2018-02-27 18:58] tehkz77 commented on #98
Afternoon,  just wondering if this has been looked at and if there is anymore information I can provide.
thx

[2018-03-03 20:24] ghost opened #99 "Pods feed supplying Last name not full name from GF name block."
I’m using pods(2.7.1) and Gravity Forms(2.3.0) and Pods Gravity Forms Add-On(1.3). I have a Pod with a name field and a form that uses the Gravity form Name block. I have created a Pods feed to save the FULL name from the gravity form to the Pod. However ONLY the last name is saved.

[2018-03-13 16:27] klkwebservices opened #101 "Unable to Edit PODS CPT via Gravity View - Edit Entries Option"
Hi, I am working with a client who I converted from a PODS Form to Gravity Forms (They were losing data due to timeout issue using PODS Form), I am able to successfully add entries to PODS via the PODS/Gravity Forms Add-on, however when attempting to edit an existing entry via Gravity View's Edit Entry Option, the CPT within PODS is not updated, but GF fields are updated successfully via Gravity V

[2018-03-14 19:29] Michael-Power-135 opened #102 "Pods Gravity form warning bug"
Warning: strlen() expects parameter 1 to be string, array given in /home/djpeteme/public_html/wp-content/plugins/pods/classes/fields/text.php on line 211

Anyone know what might be causing this error appearing after submitting a form from front end despite the form populating all fields correctly after submitting the form. ? A previous post in Git hub recommends trying Pods Gravity Forms Add-On 1.

[2018-03-14 19:52] jimtrue commented on #102
You will need to provide us both a copy of your form (Gravity Forms, Export) and upload the JSON for that form here and also your Pods Structure that you're using the form with, using Pods Admin, Components, Migrate: Packages. Then Export and save the resulting JSON as a text file and upload.

[2018-03-14 19:53] jimtrue commented on #102
Also this is a debug "warning" so if you don't want it to be displayed on your front-end, just disable debug warnings in wp-config.php:
https://codex.wordpress.org/Debugging_in_WordPress

[2018-03-14 22:24] Michael-Power-135 commented on #102
Hi Jim, Thanks for info, I've now disabled the warning on Front end.

[2018-03-16 19:18] paddelboot opened #103 "Cannot create feed"
Hi,

When trying to create a new feed in order to map Pods fields to my Gravity Form fields, I just get a blank page “Feed settings”, with nothing to choose from.

Gravity Forms 1.9.18.3
Pods 2.7.1
WordPress 4.9.4
Pods Gravity Forms Add-On 1.3

Thanks for your help.
 (I also posted this issue here: https://wordpress.org/support/topic/cannot-create-new-feed-2/)

[2018-03-16 19:22] jimtrue commented on #103
@paddelboot Can you provide us an export of your Pods configuration (ie what Pods you've created) using Pods Admin, Components, Migrate: Packages, Enable? Once you've enabled that component, you can go into Migrate: Packages Export and create a JSON of all your 'pods' and save that to a text file and upload here. Also doing the same with your form would be helpful from Gravity Forms with their Exp

[2018-03-16 19:28] paddelboot commented on #103
Hi Jim,

Thanks for the very quick reply.

Here's the JSON of my "Mitarbeiter (Employee)" Pods:

`{"meta":{"version":"2.7.1","build":1521228307},"pods":{"15":{"id":15,"name":"mitarbeiter","label":"Mitarbeiter","description":"","type":"pod","storage":"table","object":"","alias":"","fields":{"name":{"id":16,"name":"name","label":"Name","description":"","help":"","class":"","type":"text","weight":0,"

[2018-03-16 19:41] paddelboot commented on #103
Unfortunately, that didn't help - but I now enabled WP_DEBUG, and it shows this:

`
Fatal error: Uncaught Error: Call to undefined method Pods_GF_Addon::get_slug() in /media/Entwicklung/Entwicklung.meilenstein/wp/wp-content/plugins/pods-gravity-forms/includes/Pods_GF_Addon.php:372 Stack trace: #0 /media/Entwicklung/Entwicklung.meilenstein/wp/wp-content/plugins/gravityforms/includes/addon/class-gf-

[2018-03-16 19:43] paddelboot commented on #103
I also do have

`define('PODS_SHORTCODE_ALLOW_EVALUATE_TAGS',true);`

in my wp-config.php, if that is of any concern.

[2018-03-16 19:54] jimtrue commented on #103
the latter shouldn't make a difference; that's only for allowing magic tags to be evaluated in shortcodes. You might have something else wrong. Also try a Pods Admin, Setting, Clear Cache with all your plugins disabled and see if that clears up your issue.

[2018-03-16 19:55] richardW8k commented on #103
@paddelboot the old Gravity Forms version, 1.9.18.3, is the issue. The get_slug method was only added to the add-on framework in Gravity Forms 2.0. The current version of Gravity Forms is 2.2.6.

[2018-03-16 19:55] jimtrue commented on #103
^^ there ya go. Didn't even catch that. Thanks @richardW8k !

[2018-03-16 19:56] jimtrue commented on #103
@sc0ttkclark Do we need to add a minimum version of Gravity Forms to our Add-on?

[2018-03-16 19:57] richardW8k commented on #103
The min version is already defined [here](https://github.com/pods-framework/pods-gravity-forms/blob/master/includes/Pods_GF_Addon.php#L7), but I would recommend bumping it to 2.0 or greater

[2018-03-16 20:00] paddelboot commented on #103
Okay, thanks for helping me out. On this page, it also says Gravity Forms 1.9+:

https://de.wordpress.org/plugins/pods-gravity-forms/

Thanks again, will support you with donation.

[2018-03-16 20:51] paddelboot commented on #101
+1

[2018-03-21 14:38] jimtrue commented on #101
Can you invite someone from the Gravity View team to this issue? Since Gravity View is it's own premium product, separate from Gravity Forms, we'd need access to their plugin to perform any additional kind of development to make their product work with our product.

[2018-03-21 17:14] garypaul opened #104 "Make it easier for Gravity Flow to support a Pods GF Feed"
## Issue Overview
Currently, there isn't a way to conditionally trigger a Pods feed to run. For example, if a form isn't completely filled out or some element doesn't match a specific value. Right now, the Feed will ALWAYS run. This would be similar perhaps to how the MailChimp feed works.

## Expected Behavior
If { condition } then run feed.

## Current Behavior
Currently, when you submit a form

[2018-03-22 13:34] snowshadows opened #105 "Re-sync date from Gravity form to already created Custom Post"
## Issue Overview

## Expected Behavior

I am using Pods Custom Content Types and Fields and Gravity Forms Add-on. When the user fills out a Gravity form, the information is fed to the Custom Post Type and populates it, and saves the post as “pending review.”I have recently connected some items from the form entry to custom fields on the custom post. I would like it to push that information to the

[2018-03-23 19:40] kendellDaniel opened #106 "Mulitple posts created when Enable populating field values for this form using current post is true"
## Issue Overview
Separate post get's created on form submission

## Expected Behavior
If "Enable editing with this form using current post" and "Enable populating field values for this form using current post" is enabled, on form submission the same post should be edited and not create a new post with the new content.

## Current Behavior
When a form submits with "Enable editing with this form us

[2018-03-23 19:49] kendellDaniel commented on #106
Hi,

I've added other requirements such as export data from gravity forms, pods and WordPress details but it's not showing up. Is it supposed to show up?

[2018-03-27 13:11] snowshadows commented on #105
I am still not sure where to put this feature request.

[2018-03-28 13:49] winnersmedia commented on #45
I believe I have the same issue. I have a multi-step form and it is not remembering the check boxes chosen when I push next and then previous. I've tried using the suggested code posted by sc0ttkclark but this hasn't fixed the issue for me. I can provide a URL for this if required.

If this issue is not likely to get resolved soon could you update this thread so i can request a refund from gravity

[2018-03-28 14:10] sc0ttkclark commented on #45
Ask Gravity Forms for access to their new beta add-on that is generalized for custom fields. It's not Pods specific and doesn't come with some of the things we have in our add-on, but it should be suitable and works great. It's not yet released, so you'd be using some sort of beta version of it, but it's high quality from the code I've seen and used.

I wouldn't request a refund for your Gravity F

[2018-03-28 14:12] jimtrue commented on #45
@winnersmedia It also sounds like you're experiencing a different issue than what is described in the bug above. This is about 'populating' existing records and the relationship fields not loading. Your issue sounds like the selections in the form aren't remembering their selections between sessions in a next and previous page form. That's a Gravity Forms bug and you should escalate to them since

[2018-03-28 14:14] jimtrue commented on #45
@letmegreg Based on your question above:

Jim tried to assist me with this tonight but it was out of support hours so we couldn't get to the bottom of it.

If you're connecting to a relationship through a hidden field, you'd use the Meta Tax {user:ID}, not {user:user_login} because the relationship to 'Users' is to the ID not the login.

[2018-03-28 14:16] #103 closed

[2018-03-28 14:18] jimtrue commented on #96
I'm closing this one as we've not heard back from you @Anil-official The notice above is shown when you try to enable Pods Gravity Forms Add-on and either Pods or Gravity Forms are not installed and activated.

[2018-03-28 14:18] #96 closed

[2018-03-29 12:44] winnersmedia commented on #45
Hi, this is the response from gravity forms:

Hi Matt,

I'm afraid this is something the pods team will need to fix, they are only populating the field via the gform_pre_render filter, for the choice selection to remain when paging on a multi-page form they also need to populate the field via the gform_pre_validation filter.

[2018-03-29 12:47] jimtrue commented on #45
Thanks for the update @winnersmedia. @sc0ttkclark Do you need this particular piece in it's own Issue since I don't think this and the original error report are related at all?

[2018-04-03 14:49] Hornet25 opened #107 "Multi Select options not being saved within the form when pods field is related to users"
## Issue Overview
I have a multi select field in my pods custom post that is set to multi-select format and related to Users. I have a multi-select field in my gravity form that is fed by the pod to display the users. This all works perfectly and I have my form at the foot of the template to edit the custom post through the gravity form. The issue I have is that the gravity form doesn't store the

[2018-04-03 17:35] Hornet25 commented on #107
Herewith a screen capture video which I hope clarifies the issue I am having.

[Capture 01.zip](https://github.com/pods-framework/pods-gravity-forms/files/1872662/Capture.01.zip)

[2018-04-09 17:58] rvlak commented on #101
+1

If you could get this to work, it would be great for a site that I am building. It uses front end content and file submission via Gravity Forms, showing the entries to users by means of GravityView tables. I have tried to link the entries to Pods to store them as CPTs in Wordpress and make them searchable with Relevanssi. But content editing via GravityView / Gravity Forms did not result in th

[2018-04-09 18:36] naomicbush commented on #101
@jimtrue GravityView uses the default Gravity Forms hooks (i.e. gform_entry_update) when updating an entry so you can listen on those hooks and then update the CPT, without having access to GravityView itself

[2018-04-09 18:41] jimtrue commented on #101
@naomicbush This would actually be @sc0ttkclark I don't do coding; I do support and route the problems into our GitHub to be handled ;)

Since I"m guessing that's how our Add-on also works, is there any reason to think that GravityView shouldn't follow the same connections or do you think we've got something else going on here?

[2018-04-10 10:10] winnersmedia commented on #45
Hi, is this now a new issue? Seems quite an important one. Is there a workaround?

[2018-04-19 21:02] mgratch opened #108 "Gravity Forms 2.3 not compatible"
## Issue Overview
It appears that this extension directly references tables that are no longer part of GF after version 2.3.  Furthermore from the best that I can tell this is not backwards compatible.

[2018-04-19 22:04] sc0ttkclark commented on #108
Yep! Time for an update :|

[2018-04-20 21:52] mgratch commented on #108
Doing some testing, update should be coming soon.  I am working off #86 though, so I am not sure other than the merge conflict that I fixed in #100 what else would be keeping this from going live, aside from the need to further test.

[2018-04-23 06:27] cbrcongit commented on #93
@sc0ttclark have you got a status on this (with @stevehenty)? it would be a game-changer as far as enterprise solutions go.

[2018-04-23 13:29] #108 closed

[2018-04-23 13:40] sc0ttkclark commented on #107
Try with the latest Pods GF 1.4 with recent updates: https://github.com/pods-framework/pods-gravity-forms/archive/feature/skc-fixes.zip

[2018-04-30 12:00] brianwelsh opened #110 "Can't pre-populate Gravity Form fields with Pod Entry"
## Issue Overview

I have tried to used the pre-populating option of the Gravity Forms to load values from a Pod entry  but to no avail.
## Expected Behavior
When clicking on the hyperlink of a problem's name in the problem table, the template for that problem should trigger and display a gravity forms that is pre-populated with the input fields of the Pod.

## Current Behavior
The Gravity Form pr

[2018-05-03 03:45] bennygill opened #111 "Adding a new currency field to an existing template crashes the post"
## Issue Overview
If a new _currency_ custom field is created and referenced in a template _after_ a post has been published, it will crash the page (the post turns white, header still shows).

**For example this template will crash the page:** [if new_currency_field_added_after_post_creation]Show some stuff[/if]

You have to go and manually "update" each post to fix the crash.

## Expected Behavi

[2018-05-03 11:47] jimtrue commented on #111
@bennygill Did you mean to publish this in the Gravity Forms Add-on Bug report area? I think you meant to create this in Pods: https://github.com/pods-framework/pods/issues/new

[2018-05-03 13:43] snowshadows commented on #105
Hello?

[2018-05-03 13:50] jimtrue commented on #105
This is a Feature Request, not a bug. Since we're a free plugin, we have to balance our workload over higher overall feature hitting items, which include bug requests and making sure all of our fields properly map to Gravity Form fields.

We only just added the ability to edit the existing post with a Gravity Form and it still has some issues around properly connecting those two items. Before we'd

[2018-05-03 13:52] snowshadows commented on #105
Thank you for getting back. I'm pretty sure I did add it to the feature requests, but I do appreciate your response here. Are you aware of any issues created by upgrading to Gravity Forms 2.3.1, in general?

[2018-05-03 13:55] jimtrue commented on #105
Yes and we have a bug report on it (#108) and a patch in the works, which you can download from here to test (https://github.com/pods-framework/pods-gravity-forms/tree/1.4-beta). Most people had issues with the 2.3 upgrade, not just those that were using Pods because it included a major Database change.

[2018-05-03 13:57] snowshadows commented on #105
Thank you.

[2018-05-04 02:50] bennygill commented on #111
Whoops! Yes it was supposed to be over there. I'm new to this. Can we move it over somehow?

[2018-05-04 21:12] AmiracleDesign opened #112 "I can't upload photos"
Hi
I can not seem to be able to upload photos and set featured image. When I submit a photo in my form it does upload to uploads/gravity_forms/ and I can see it attached to the entry but nothing to the actual page. Can you please let me know what am I doing wrong?

Here you can see my settings:
https://www.screencast.com/t/zAJkEyAV

Thanks
Amir

[2018-05-15 00:46] bennygill commented on #111
@jimtrue should I delete this bug report and resubmit to the correct place?

[2018-05-15 04:12] jimtrue commented on #111
My apologies, yep. I can close this one if you can resubmit to the correct area. That report actually asks for your debug details so that's a better place to resubmit.

[2018-05-15 04:18] #111 closed

[2018-05-26 19:29] kennym opened #113 "New release"
I'd like to help you deploy a new release so Wordpress users who use the plugin from the WP repo can enjoy this plugin with the latest WP version. Could you make a maintainer?

[2018-05-27 09:10] spiral-labs commented on #87
Hi everyone! are there any updates? I'm new to Pods and just started using pods + gf but can't find the 1.4 was it released?, cheers!

[2018-05-27 09:16] spiral-labs commented on #113
Hi Kennym, I hope your release is available soon, is the 1.4 Beta the latest version available?

[2018-06-08 06:33] sc0ttkclark commented on #113
I am running the release tonight. Sorry for the delay, I've had a lot of stuff going on, but you are more than welcome to assist in the release process. You can make PRs on this repo and do code reviews (review the changes, test it, confirm it looks good) on the 1.4 release PR https://github.com/pods-framework/pods-gravity-forms/pull/86

I don't normally add contributors immediately to a repo, so

[2018-06-08 06:33] #113 closed

[2018-06-08 10:54] sc0ttkclark commented on #87
Pods GF does not prepopulate file or address field types. I have pushed more fixes for it to support some other ones it didn't quite have support for.

[2018-06-08 10:55] sc0ttkclark commented on #87
I'm going to have to ping support to find out how to prepopulate something in the file field and how to prepopulate the address field values (based on mapping from individual pod fields to Address 1, Address 2, City, State, or Country.

[2018-06-08 10:56] sc0ttkclark commented on #112
Try the latest 1.4 release we're getting ready to put on wordpress.org:

https://github.com/pods-framework/pods-gravity-forms/archive/feature/skc-fixes.zip

[2018-06-08 10:58] sc0ttkclark commented on #110
I've got a test site doing this exact thing. Try the latest 1.4 release we're getting ready to put on wordpress.org:

https://github.com/pods-framework/pods-gravity-forms/archive/feature/skc-fixes.zip

[2018-06-08 10:58] #110 closed

[2018-06-08 10:59] sc0ttkclark commented on #107
I believe this is now (further) fixed. Try the latest 1.4 release we're getting ready to put on wordpress.org:

https://github.com/pods-framework/pods-gravity-forms/archive/feature/skc-fixes.zip

[2018-06-08 11:00] sc0ttkclark commented on #106
I'm not seeing this on my test site with the latest 1.4. Try the latest 1.4 release we're getting ready to put on wordpress.org:

https://github.com/pods-framework/pods-gravity-forms/archive/feature/skc-fixes.zip

[2018-06-08 11:00] #106 closed

[2018-06-08 11:01] #107 closed

[2018-06-08 11:06] sc0ttkclark commented on #104
Is there a specific action we should add, or do we just add it and Gravity Flow adds support for the action?

[2018-06-08 11:07] sc0ttkclark commented on #102
This could be the result of an address field mapped to a single line text field. I'm not sure what the mapping is, perhaps you can screenshot the Pod feed mapping for the form?

[2018-06-08 11:08] sc0ttkclark commented on #101
I'd like to support gform_entry_update, but it'll have to wait for 1.5

[2018-06-08 11:11] sc0ttkclark commented on #99
Please try the latest Pods GF 1.4 beta https://github.com/pods-framework/pods-gravity-forms/archive/1.4-beta.zip

[2018-06-08 11:12] #99 closed

[2018-06-08 11:12] sc0ttkclark commented on #98
Please try the latest Pods GF 1.4 beta https://github.com/pods-framework/pods-gravity-forms/archive/1.4-beta.zip

[2018-06-08 11:12] #98 closed

[2018-06-08 11:13] sc0ttkclark commented on #97
@jimtrue can you bring this over to the Pods repo so Phil can look? Appears to be a Pods bug, not Pods GF

[2018-06-08 11:13] #97 closed

[2018-06-08 11:14] sc0ttkclark commented on #95
Please try the latest Pods GF 1.4 beta https://github.com/pods-framework/pods-gravity-forms/archive/1.4-beta.zip

[2018-06-08 11:15] sc0ttkclark commented on #94
Please try the latest Pods GF 1.4 beta https://github.com/pods-framework/pods-gravity-forms/archive/1.4-beta.zip

This has now been resolved.

[2018-06-08 11:15] #94 closed

[2018-06-08 11:17] sc0ttkclark commented on #92
If you don't have the content, title or excerpt populated in the feed mapping, it throws the error. One or more of those fields has to have a value when saving, I believe even when updating.

I was able to get create / update working with the latest 1.4 release. Please try the latest Pods GF 1.4 beta https://github.com/pods-framework/pods-gravity-forms/archive/1.4-beta.zip

[2018-06-08 11:27] sc0ttkclark commented on #82
The latest 1.4 release has some fixes for this: https://github.com/pods-framework/pods-gravity-forms/archive/feature/skc-fixes.zip

One note: Address fields -- I was not able to get these to prepopulate. I need to contact GF support to determine the best method there.

[2018-06-08 11:29] sc0ttkclark commented on #85
Please try the latest 1.4 beta release: https://github.com/pods-framework/pods-gravity-forms/archive/feature/skc-fixes.zip

[2018-06-08 11:30] sc0ttkclark commented on #83
This was fixed in the latest 1.4 release: https://github.com/pods-framework/pods-gravity-forms/archive/feature/skc-fixes.zip

[2018-06-08 11:30] #83 closed

[2018-06-08 11:33] sc0ttkclark commented on #47
Please try the latest 1.4 release: https://github.com/pods-framework/pods-gravity-forms/archive/feature/skc-fixes.zip

[2018-06-08 11:33] #47 closed

[2018-06-08 12:06] naomicbush commented on #104
@sc0ttkclark the standard way to handle this is the process_feed function. But Pods GF has always done things its own way, which I understand since there was no Add-On Framework when you first built it :-)

[2018-06-08 14:01] richardW8k commented on #104
The integration requires extending the [Gravity_Flow_Step_Feed_Add_On](https://github.com/gravityflow/gravityflow/blob/master/includes/steps/class-step-feed-add-on.php) class like [this](https://github.com/gravityflow/gravityflow/blob/master/includes/steps/class-step-feed-agilecrm.php).

As the add-on doesn't have a process_feed method it would need defining in the step class.

The intercept_submi

[2018-06-09 14:06] jimtrue commented on #75
This still does not work. Verified against 1.4. The Post Image Form Field doesn't work but a regular image field mapped to Featured Image works fine.

[2018-06-09 14:07] jimtrue commented on #77
Related to #75 Closing this as duplicate of that one. The Post Image field doesn't work, but any other image field should work just fine.

[2018-06-09 14:07] #77 closed

[2018-06-09 14:09] jimtrue commented on #90
You cannot use Post Image field. You have to use a regular file upload field. Duplicate of #75

[2018-06-09 14:09] #90 closed

[2018-06-09 14:13] jimtrue opened #114 "Pick: Multiselect Form Fields do not pass information to linked Related Fields"
## Issue Overview
Was doing full test on each of the selection fields (radio, checkbox, drop-down and multiselect). All work except for Multiselect. Nothing chosen in Multiselect passes to Relationship field in Feed.

## Expected Behavior
Should work identical to Checkboxes

## Steps to Reproduce (for bugs)

1. Create a relationship field in a pod, add a handful of selections to it
2. Create a for

[2018-06-27 17:31] jimtrue opened #115 "Bug-Blocker: Select Lists Dynamically Populate but only pass selection from list of option in GF Field"
## Issue Overview
When using any form of Select/Radio/Checkbox fields in the Gravity Form that are dynamically populated by Pods, the options will be 'overwritten' by the Populated options. All the options load, however, if you leave the field with the default 3 options, those are the only ones passed over in the Feed to Pods. If you increase it to six, six options will pass.

The Add-on needs to

[2018-06-27 17:32] jimtrue commented on #115
![](http://sc0tt.me/2Q0s0X2v3C0R/Screen%20Shot%202018-06-27%20at%2012.24.25%20PM.png)

[2018-07-10 12:56] BEN-URBAN commented on #101
Hi @sc0ttkclark, how long does it take approximately until Pods is updated to support a Gravity Forms hook?

[2018-07-16 19:05] tokazama2 opened #116 "ERROR: rg_lead_detail table not valid"
## Issue Overview
Receiving error: "An outdated add-on or custom code is attempting to access the wp_rg_lead_detail table which is not valid in this version of Gravity Forms. Update your add-ons and custom code to prevent loss of form data. Further details: https://docs.gravityforms.com/database-storage-structure-reference/#changes-from-gravity-forms-2-2 in /srv/users/ahacpa/apps/ahacpa/public/wp-

[2018-07-16 19:37] naomicbush commented on #116
Hi @tokazama2, I'd be interested in seeing the information on the Forms->System Status page

[2018-07-16 19:42] tokazama2 commented on #116
### Gravity Forms ###

Registration: Not registered ✘
Version: 2.3.2 ✔
Upload folder: /srv/users/ahacpa/apps/ahacpa/public/wp-content/uploads/gravity_forms/
Upload folder permissions: Writable  ✔
Output CSS: Yes
Output HTML5: No
No-Conflict Mode: No
Currency: USD
Background updates: Yes
Locale: en_US

### Add-Ons ###

Polls: by Rocketgenius - 3.1  ✔
Quiz: by Rocketgenius - 3.1  ✔
Survey: by Rocket

[2018-07-16 19:49] richardW8k commented on #116
Are sure Pods is causing this? To date the most common cause has been the UpdraftPlus plugin which is also included in your system report. You can either exclude the old tables from backups or remove the old tables if you are sure they are no longer required: https://docs.gravityforms.com/upgrading-to-gravity-forms-2-3/#can-i-delete-the-deprecated-tables-once-the-upgrade-is-complete-

[2018-07-16 21:07] tokazama2 commented on #116
@richardW8k: I deactivated UpdraftPlus, I removed the deprecated tables.  That didn't fix my problem.  Then I re-installed the pods-gravity-forms plugin and the problem seems to be solved.  I'll continue with some testing.

[2018-08-03 13:41] CosmikCarrot opened #117 "Minutes between 0-9 in Time field"
## Issue Overview
I believe I’ve found a bug with the Pods Gravity Forms Add On. I’m getting this error - https://screencast.com/t/TZSuYnRqQ It occurs with any minutes between 1-9.

## Expected Behavior

Any time should be accepted and populated into the Pod from Gravity Forms.

All minutes should be accepted.

## Current Behavior

I’m getting this error - https://screencast.com/t/TZSuYnRqQ It occ

[2018-08-03 14:08] jimtrue commented on #117
Verified with a much more simplified form for testing:

## Migrate Packages Export
<details>
[code]
</details>
[gravityforms-export-2018-08-03.json.txt](https://github.com/pods-framework/pods-gravity-forms/files/2257616/gravityforms-export-2018-08-03.json.txt)

[2018-08-03 14:11] jimtrue commented on #117
Looks like our processor may be firing before they 'reconfigure' the values for saving?

[2018-08-03 14:12] jimtrue commented on #117
@sc0ttkclark this is still broken on the 1.4 beta which is the version I have installed.

[2018-08-05 19:01] MGParisi commented on #116
Im also getting this error.  I do not have that either.

Here is the call stack for me...

1 | 0.4055 | 375520 | {main}( ) | ...\index.php:0
-- | -- | -- | -- | --
2 | 0.4057 | 377552 | require( 'C:\wamp64\www\eponies-wp\wp-blog-header.php' ) | ...\index.php:17
3 | 0.7480 | 46158880 | wp( ) | ...\wp-blog-header.php:16
4 | 0.7480 | 46158928 | WP->main( ) | ...\functions.php:960
5 | 0.7540 | 4624417

[2018-08-05 19:02] MGParisi commented on #116
The full error... Notice: An outdated add-on or custom code is attempting to access the wp_eponies_rg_lead_detail table which is not valid in this version of Gravity Forms. Update your add-ons and custom code to prevent loss of form data. Further details: https://docs.gravityforms.com/database-storage-structure-reference/#changes-from-gravity-forms-2-2 in C:\wamp64\www\eponies-wp\wp-content\plugin

[2018-08-05 19:12] MGParisi commented on #116
### Gravity Forms ###

Registration: Site registered ( f77b7977-9661-4dcc-bfd6-3343b8e3d745 )  ✔
Version: 2.3.3.4 ✔
Upload folder: C:\wamp64\www\eponies-wp/wp-content/uploads/gravity_forms/
Upload folder permissions: Writable  ✔
Output CSS: Yes
Output HTML5: Yes
No-Conflict Mode: No
Currency: USD
Background updates: Yes
Locale: en_US

### Database ###

Database Version: 2.3.3.4  ✔ Your database is

[2018-08-08 08:31] CosmikCarrot commented on #117
@jimtrue Can you confirm this will be fixed when the 1.4 milestone is completed, is that correct?

[2018-08-08 13:09] jimtrue commented on #117
@CosmikCarrot We dropped it in that milestone because that is the only milestone available at present for this add-on. If we can get it in, we will, depending on how complex it will be to fix.

[2018-08-08 13:15] CosmikCarrot commented on #117
Thanks! @jimtrue

[2018-08-08 15:47] ray-mitchell opened #118 "Pod field empty error message on multi-page Gravity Form"
## Issue Overview

Using a multi-page gravityform to create a CPT with many meta fields. The submitter must attach photos and the photos are required. Gravityforms shows the photos as attached. On moving to the next page of the gravityform, an error message indicating that the pods field is empty is displayed.

## Expected Behavior

The error prevents the remaining fields of the gravityform from b

[2018-08-08 15:51] jimtrue commented on #118
@sc0ttkclark Sounds like the validator for the Pods Processor at first glance is kicking off before the page is finished submitting.

[2018-08-08 16:59] nicdford commented on #116
I am seeing this same notice using pods + pods gravity add on

[2018-08-08 17:16] nicdford commented on #116
I've tested this against version 1.4 and it looks to resolve this issue. @sc0ttkclark

[2018-08-08 19:48] ray-mitchell commented on #118
Not knowing enough about the inner workings of Pods and the Pods Processor, here are two thoughts: I have the Partial Entries GravityForms addon active (which to my understanding creates an entry even though the form has not been "submitted") and as this is a multi-page form, would the same issue occur if it was a single page form? I've paginated the form as it is very long and needed to display t

[2018-08-13 17:50] CosmikCarrot commented on #117
Hi @jimtrue @sc0ttkclark, do you guys have a timescale for milestone 1.4, please?

[2018-08-13 18:01] sc0ttkclark commented on #117
Sorry for the delay, this is currently my top priority. All that's left is to do the extensive testing on the different use-cases we support and confirm things are working as expected. Last we checked, there were still some issues that caused backwards compatibility problems where things that were working before stopped working.

I appreciate your patience, I think this week will be the week it al

[2018-08-13 18:02] sc0ttkclark commented on #117
This branch has the latest fixes/changes for 1.4:

https://github.com/pods-framework/pods-gravity-forms/tree/feature/skc-fixes

Zip is here: https://github.com/pods-framework/pods-gravity-forms/archive/feature/skc-fixes.zip

I made some fixes for the time field behavior already, so your fix may already be in there.

[2018-08-13 18:10] CosmikCarrot commented on #117
Awesome @sc0ttkclark for the prompt reply, very much appreciated!!
Just uploaded the beta, and time field issue is certainly fixed. Thank you all!

[2018-08-14 00:35] svaults opened #119 "post_id in $entry array is null in gf hooks"
## Issue Overview
The post_id in $entry array is null in gf hooks

## Expected Behavior
The post id for the newly created custom post should be available - I'm trying to redirect to this new post using the "gform_entry_post_save" filter

## Current Behavior
The post_id is null in this array

## Possible Solution
Populate the post_id through an earlier filter

## Steps to Reproduce (for bugs)

1. C

[2018-08-20 19:04] RKain opened #120 "Published post modified by gravity form w/ pods feed reverts to draft on form submission"
## Issue Overview

I have a pod called "car"; The single page of this pod contains, among other things, a gravity form to edit its contents. Submitting this form changes the pod from "published" to "draft". The default status of the pod is set to "publish" in Pods > Edits Pods > Car > Advanced Options, so whatever the issue is, it's not that.

## Expected Behavior

When I submit a form that edits

[2018-09-12 19:51] tokazama2 commented on #85
I have finally been able to get back to this project.  I am currently using pods v2.7.9.  The file is now uploading to the default upload folder (renamed to 'resources') and connecting to the custom post type.  I just wish I could upload to a certain directory.  I suspect that is a WordPress problem and not a Pods problem.

I am using Gravity Forms with Pods.  I added the following code to the fun

[2018-09-18 15:55] markerx opened #121 "Can't Map GravityForms Image Fields To Pods Extended User Image Fields"
## Issue Overview

I have used Pods to extend my User Fields.

http://cloud.brandonthompson.net/cc864e435bb1/Image%202018-09-16%20at%2011.43.45%20AM.png

The new fields appear on the Profile page.

I have created a Gravity Form for New User Registration. However, I am not seeing how to map my Gravity Form Field Image Fields to the new Pods Fields.

http://cloud.brandonthompson.net/b186b896949d/Use

[2018-09-18 16:04] jimtrue commented on #121
@sc0ttkclark I was able to reproduce the issue. This is _without_ the Pods Gravity Forms Add-on, so just using User Registration to map to User Meta (User Registration has better handling of 'new user' 'modify user' than our configuration which requires the fields 'username' 'password' etc. even when it's not updating those fields.

I think this one mostly comes down to: how do those fields have t

[2018-10-01 22:17] Dianei opened #122 "Form field data not passing to Pods relationship field"
## Issue Overview
Data entered into field form, mapped to a Pod relationship field does not appear after submission of the form.

## Expected Behavior
Data entered in field form should auto populate/or auto select from the Pod within the relationship field to which it is mapped.

## Current Behavior
Data entered in the field form mapped to pods relationship fields are prompting for a search/select

[2018-10-06 09:28] jimtrue commented on #115
@sc0ttkclark got a confirmation from someone using the beta that this particular issue still exists.

[2018-10-09 16:56] sc0ttkclark commented on #115
Fixed in #86

[2018-10-09 16:56] #115 closed

[2018-10-09 16:57] sc0ttkclark commented on #122
Please retest with #86 (ZIP: https://github.com/pods-framework/pods-gravity-forms/archive/feature/skc-fixes.zip)

I have done a comprehensive test and this should be working as expected now.

[2018-10-09 16:57] sc0ttkclark commented on #122
May have been a duplicate of #115

[2018-10-09 17:00] sc0ttkclark commented on #120
Fixed in #86 (ZIP: https://github.com/pods-framework/pods-gravity-forms/archive/feature/skc-fixes.zip)

[2018-10-09 17:03] sc0ttkclark commented on #119
Fixed in #86 (ZIP: https://github.com/pods-framework/pods-gravity-forms/archive/feature/skc-fixes.zip)

[2018-10-09 17:05] sc0ttkclark commented on #85
Pods GF takes the media from Gravity Forms and adds it to the Media Library. This is likely why you see two. We don't have Pods-specific code for the upload handling, but there are hooks in WordPress itself that you might be able to find to accomplish the same thing.

[2018-10-09 17:05] #85 closed

[2018-10-09 17:05] #117 closed

[2018-10-09 17:07] sc0ttkclark commented on #116
FYI -- This issue still happens when you go to edit a pod, because Pods stores a transient with a list of all available tables in the database. Because this list of tables includes old GF tables, it triggers the warning in those cases. Just something to be aware of, removing the old tables will resolve the issue.

[2018-10-09 17:07] #116 closed

[2018-10-09 17:15] sc0ttkclark commented on #101
Fixed in #86 (ZIP: https://github.com/pods-framework/pods-gravity-forms/archive/feature/skc-fixes.zip)

Also there will be a post with documentation on how to use our new feature that lets you sync Gravity Form entries for a Form to the associated Pod (based on the Form Feed mapping config). This is great because it allows you to sync entries to a Pod even if the entries were added before you adde

[2018-10-09 17:16] sc0ttkclark commented on #104
We're now utilizing the process_feed functionality for Pods GF.

Fixed in #86 (ZIP: https://github.com/pods-framework/pods-gravity-forms/archive/feature/skc-fixes.zip)

[2018-10-09 17:27] sc0ttkclark commented on #112
Fixed in #86 (ZIP: https://github.com/pods-framework/pods-gravity-forms/archive/feature/skc-fixes.zip)

[2018-10-09 17:27] #112 closed

[2018-10-09 17:28] sc0ttkclark commented on #95
Fixed in #86 (ZIP: https://github.com/pods-framework/pods-gravity-forms/archive/feature/skc-fixes.zip)

[2018-10-09 17:28] #95 closed

[2018-10-09 17:28] sc0ttkclark commented on #102
Fixed in #86 (ZIP: https://github.com/pods-framework/pods-gravity-forms/archive/feature/skc-fixes.zip)

[2018-10-09 17:28] #102 closed

[2018-10-09 17:30] sc0ttkclark commented on #105
Fixed in #86 (ZIP: https://github.com/pods-framework/pods-gravity-forms/archive/feature/skc-fixes.zip)

We will have documentation for our syncing (via WP-CLI) in our release post.

[2018-10-09 17:30] #105 closed

[2018-10-09 17:32] sc0ttkclark commented on #26
Fixed in #86 (ZIP: https://github.com/pods-framework/pods-gravity-forms/archive/feature/skc-fixes.zip)

There will be documentation on how to run the WP-CLI command to sync entries from GF to Pods (based on the Pods feed) in the release post.

[2018-10-09 17:32] #26 closed

[2018-10-09 17:34] sc0ttkclark commented on #73
Fixed in #86 (ZIP: https://github.com/pods-framework/pods-gravity-forms/archive/feature/skc-fixes.zip)

[2018-10-09 17:34] #73 closed

[2018-10-09 17:36] sc0ttkclark commented on #71
Added ability to use `{pods:id}` and `{pods:permalink}` in #86 (ZIP: https://github.com/pods-framework/pods-gravity-forms/archive/feature/skc-fixes.zip)

[2018-10-09 20:56] sc0ttkclark commented on #118
Fixed in #86 (ZIP: https://github.com/pods-framework/pods-gravity-forms/archive/feature/skc-fixes.zip)

[2018-10-09 20:56] #118 closed

[2018-10-09 20:57] #119 closed

[2018-10-09 20:57] #120 closed

[2018-10-09 20:57] #122 closed

[2018-10-09 20:57] #104 closed

[2018-10-16 18:55] sc0ttkclark commented on #92
Resolved in 1.4

[2018-10-16 18:55] #92 closed

[2018-10-16 18:56] sc0ttkclark commented on #75
Fixed in 1.4

[2018-10-16 18:56] #75 closed

[2018-10-16 18:57] sc0ttkclark commented on #87
1.4 introduces a fix that will not clear the file field value in the Pod item if the Gravity Form file field is empty. That's a temporary workaround here until we determine the best way to show that a file field has a file value on load.

[2018-10-16 19:00] sc0ttkclark commented on #82
The following fields still do not populate:

- [ ] Address field
- [ ] Name field
- [ ] File field

[2018-10-16 19:00] sc0ttkclark commented on #87
Closing as duplicate of #87

[2018-10-16 19:00] #87 closed

[2018-10-16 20:01] Dianei opened #124 "Add GF entry verification against existing Pods object"
## Issue Overview
GF entry verification against existing Pods object.

## Expected Behavior

Add an option to select entry verification
- Verify whether a Gravity Form entry is duplicating an existing Pods entry, based on selectable criteria/fields. (Ex. if fields: "staff_name" and "date_of_birth" match)

- If yes,  provide a message to the user with a link to the potential match, asking if the us

[2018-10-23 06:27] ChrisO2134 opened #125 "New POD fields are not syncing correctly with new GF fields since 1.4.1 update"
## Issue Overview
Something has gone seriously wrong with Pods and Gravity forms?? Existing fields in forms can still see and update pods fields, but no new fields in forms or pods will talk to each other. Even worse than that my new fields in forms are just pulling random field data from the pod to display in the form?? For example, I have just created a field in Pods 'User Telephone' and a field

[2018-10-23 14:41] sc0ttkclark commented on #125
I recommend downgrading back down to the version you had before until we figure out what's going on here.

https://downloads.wordpress.org/plugin/pods-gravity-forms.1.3.zip

I'll take a look at this to see what might cause this. But I do have a few questions:

1. Do you have multiple Pods form feeds for this form?
2. Do you have multiple forms that have a Pods feed to send data to Pods?

[2018-10-23 16:50] ChrisO2134 commented on #125
Hi Scott,
Yes I have downgraded which is why I can't send a link to the form now. The 1.3 version still works perfectly.

To answer your questions...

1 - No , only 1 feed per form. (I tried to do multiple feeds a few months ago without success, so have built the website only using 1 feed per form after that.)

2 - Yes I have many forms. Approx 50 across the website, with about half of them runnin

[2018-10-23 16:58] sc0ttkclark commented on #125
And you were for sure running Pods 1.4.1 and not Pods 1.4? There was a brief bug in 1.4 that was patched in 1.4.1 where there were cache collisions in the field data being retrieved from GF for the Pods feed which may have been what this was related to.

[2018-10-23 17:04] ChrisO2134 commented on #125
Yes I think so. When I started noticing these errors I checked I had the most recent plugin versions. Nothing was showing as 'update required', but to be honest I cannot recall if it was showing as 1.4 or 1.4.1

I will upgrade again this eve and do some testing to confirm it was 1,4,1. It may take a while before I get a chance to double check this version and report back later.

[2018-10-23 17:17] sc0ttkclark commented on #125
No problem. I'll take a deeper look at the code and see if there's anything else I can find too.

[2018-10-23 18:48] ChrisO2134 commented on #125
Ok , so I have just reinstalled the 1.4.1 and immediately have replicated the 'No Data' being synced between the newest fields on PODS or FORMS. So far I have not replicated getting the 'Wrong Data' being synced, but I think it will happen if I keep trying to update fields.
Anyway , just a heads up that the initial problem I was having with new fields is still there.
I can still sync ok with field

[2018-10-23 19:47] sc0ttkclark commented on #125
Gotcha, I'll follow up as soon as I have a fix ready.

[2018-10-23 19:55] zarianka opened #126 "Problem with mapping relation field"
Below is not an actual example but just an attempt of a simple illustration of my problem.

I have two **ACT** pods, let say ‘films’ and ‘actors’. I plan to store variable qty of actors in ‘films’->’stars’ relation field. I mapped ‘films’->’stars’  to GF field called 'Star team' ('Advanced Fields' ->'List Field'). Because of very-very long list of 'actors' I prefer add actors to the 'Star team' fi

[2018-10-27 15:44] jimtrue commented on #126
Looks like you answered your question in this support forum message https://wordpress.org/support/topic/what-gf-field-is-correct-for-use-with-a-pods-relation-field-multy/
We are closing this issue as it seems this was a support issue

If you're still having issues or feel there is a bug in the list field handling or an opportunity for an enhancement, please let us know in this ticket.

[2018-10-27 15:44] #126 closed

[2018-11-21 01:19] brunomac commented on #124
+1

[2018-11-29 12:34] ericmil87 commented on #55
How to use this guys?

[2018-11-29 13:08] ericmil87 commented on #53
I can't figure out where do I place this. I want to create a edit page so the author of that pod item can edit it on the front end. How to do that?

[2018-11-29 13:40] jimtrue commented on #53
This is an open issue. It's not actually available yet @ericmil87

[2018-12-04 11:41] martinderm commented on #124
A special case of this feature request is when the feed is used to pre populate form-fields but the intention is not to create a now pod at all, but to have a smarter form.

This is currently not possible.

[2018-12-13 10:14] Picpool opened #128 "Taxonomy with multiple level"
HI,
i have a taxonomy with child elements and when i populate it in a GF dropdown , all the items are at the same level. Isn’t it possible to follow the hierarchy ?
thanks

[2018-12-13 17:10] jimtrue commented on #128
Unfortunately, hierarchy in populated items is not supported by our Add-on at this time. I'll flag this one as an enhancement request.

[2018-12-13 17:37] Picpool commented on #128
thanks a lot, personally i can't use it without this feature...
Populating taxonomy images would be cool too ;-)
thanks Jim

[2018-12-13 17:39] jimtrue commented on #128
Add both to the feature enhancement and see if you can get other folks to come in and vote for it. This is one of those things (especially in a free plugin) that requires someone to 'push' (or pay) to get them added.

I don't think I've seen anything that adds term meta images to the form.

[2018-12-13 17:42] Picpool commented on #128
sorry don't know how to do that...In Pull request ?

[2018-12-13 17:44] jimtrue commented on #128
Edit your Original Issue notes above. Add anything you'd like to see in the 'field'. Like I said, I've never seen anything supporting multiple 'field' types of data in the selection list.

[2018-12-13 17:50] Picpool commented on #128
i don't understand how to transform this in request...The main request is the taxonomy hierarchy support.

[2018-12-13 17:53] jimtrue commented on #128
I've updated the title. If you've seen anything in Gravity Forms that does like you've suggested/or are suggesting, provide links, details, etc. in this issue.

[2018-12-13 17:55] Picpool commented on #128
Ok thanks, can it be a paid customization ?

[2019-02-05 13:05] jimtrue commented on #128
@Picpool Sorry the late response on your question above. Yes, it's possible to 'feature fund' a request, you can reach out to us on support@pods.io and I'll make sure the request is properly escalated.

[2019-02-05 13:11] jimtrue commented on #82
@sc0ttkclark Added this list to the Task List in the Issue above for fields outstanding that do not populate. The File fields (if re-submitted) will replace the existing so they at least 'partially' work.

[2019-02-05 21:05] jimtrue commented on #76
@ChrisO2134 We'd need more information from you in order to replicate the issue. Can you test with the current version of Pods Gravity Forms Add-on if you're working correctly?

I see this one as very hard to verify without more information:

- Pods Components, Migrate: Packages Enabled and an export of your configuration
- Gravity Form export that had the issue
- or, Access to your site so we can

[2019-02-11 14:23] jimtrue commented on #76
Closing this issue for inactivity (lack of additional details). If you are still having this issue, please comment on this issue and we'll be notified. Thanks!

[2019-02-11 14:23] #76 closed

[2019-02-18 21:14] WPCMSNinja opened #129 "User Profile Editing Issues"
## Issue Overview

So when using the Gravity Forms POD Feed Mapping with a Pod created for the User.  The password is a required field.  It wants to create a new user even though you are editing an existing user.  File in ticket #55 but have to manually set the Form's ID.  User's First Name and Last Name are unable to be used within the form.  Also the inability to see current media files assigned

[2019-02-18 21:18] jimtrue commented on #129
First/Last Name (or Name Field) in Gravity Forms is related to #82, likewise with the image issues.

However, the two you've reported:

1. Password being required issue
2. Not being able to map a regular first name and last name to the first_name and last_name fields

are both NEW issues. Sorry to add onto this one, but we try not to replicate known issues.

[2019-02-18 21:37] WPCMSNinja commented on #129
Not a problem, thank you for updating it accordingly.

[2019-02-23 19:12] sc0ttkclark commented on #55
@ericmil87 When you are editing your pod feed, just set the option `Enable editing with this form using logged in user`. This only shows up if you have mapped your Gravity Form pod feed to use the User pod (create one if you haven't already).

[2019-02-24 13:04] ericmil87 commented on #55
Thank you Very much

Em sáb, 23 de fev de 2019 às 16:12, Scott Kingsley Clark <
notifications@github.com> escreveu:

--
______________________________
// Eric Milfont - Innovation hacker <http://bit.ly/1QknMCr>
// +55 (81) 9 8139.2929

[2019-03-06 12:52] nicolafern commented on #84
Just to say this would be great if it could eventually be supported.

In the meantime, some sort of obvious note telling people it won't work would be handy as the interface lets you create and activate as many pods feeds as you want...especially with the conditional logic it made absolute sense to me that this should just work and I've spent ages trying to set it up.

[2019-03-17 05:17] telarid commented on #125
Hi there I am finding this while updating my posts. Is there an update to this issue yet.
Thank you for your time.

Cheers

[2019-05-15 16:20] jeiseman opened #130 "Making Gravity Form Fields "Readonly" breaks pods-gravity-forms"
## Issue Overview
Making a field readonly as described here: [Gravity Forms: making a field read only](https://docs.gravityforms.com/making-a-field-read-only/) causes the values in the readonly fields to be treated as empty by pods-gravity-forms (I used the Native Code implementation).

The form is set up with the following pod options enabled:
- Support entry updates
- Enable editing with this fo

[2019-05-15 21:09] jeiseman commented on #130
I found a way to work around this issue : Make the file hidden instead of readonly.
Another way to work around the problem is to leave it readonly but make sure the readonly fields are not set to populate the related items in pods.

[2019-06-18 11:02] zeljkozivkovic opened #131 "Relationship field mapping issue"
## Issue Overview

When gathering field value in Gravity Forms form, on submit, it gives a "Warning: strlen() expects parameter 1 to be string, array given in /path/../wp-content/plugins/pods/fields/text.php on line 163"

Afterward, when I check in the backend, value is properly stored in GF Entry, but in Pods Post it is not stored!

## Expected Behavior

I expect to properly store selected value

[2019-06-25 17:45] edsvcs commented on #128
I was surprised to find this isn't currently supported. Count me as another vote for the enhancement request.

[2019-10-07 14:08] SomewhatMedia commented on #84
Just checking that I'm not doing something wrong and this feature hasn't been implemented yet, 2 years on? Would be a phenomenally useful feature!

[2019-11-15 15:10] rpall commented on #53
Any updates on this? @jimtrue

[2019-11-15 16:07] jimtrue commented on #53
@rpall I'm not the developer of this plugin. You would want to mention @sc0ttkclark ;)

[2019-11-18 08:57] rpall commented on #53
Alright :) Any updates on this @sc0ttkclark ?

Thanks.

[2019-11-18 14:38] sc0ttkclark commented on #53
I should have time for this soon, maybe this weekend. Sorry -- I've been hyper-focused on getting Pods 2.8 features built out.

[2019-12-16 07:00] richard1st opened #133 "Conditional logic not working"
Configuring the feed conditional logic isn't working with multiple feeds.
It defaults to use the latest feed created even if it's been disabled.

Steps to Reproduce (for bugs)
1. Create 2 pods feeds
2. Add Conditional logic
3. Test with form submission

[2020-01-13 10:15] secondsky opened #134 "Gravity Forms Partial Entries creates posts and ignores any conditional logic in pods feed"
## Issue Overview

## Expected Behavior

## Current Behavior
If GF Partial Entries is used and activated, Pods GF does create sometimes (even multiple) posts and ignores any conditional logic set in the feed settings. I have 2 feeds btw...

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Form Upload

<details>
[code]
</details>

## Pods Package Export

<details>
[code]
</de

[2020-02-16 13:37] secondsky opened #135 "If "Update Pods item if entry is updated" is checked, Pictures get saved in Media Library again under new name"
## Issue Overview
The Feed is set to update the pods item if the entry is updated.
Pictures dont get overwritten, but added to Media Library. On Update of anything in the Entry, the Pictures get duplicated and again added to Media Library.
This behaviour results in multiple copies of media files which bloats the Media Library and space!
Also the old media files dont get deleted and not even detach

[2020-02-16 18:50] secondsky commented on #125
Well, i did observe the same thing.
Out of nothing, if new fields have been created in Pods and GF, these fields dont get populated anymore from GF to Pods post. Unfortunately i have no clue what caused this as it worked to some point perfectly, even new fields have been added in the past. But than, out of a sudden, for new fields it stopped to work... And as since 2018 this is open, i guess there

[2020-03-03 17:13] sc0ttkclark commented on #84
Thank you all for your interest in this, I'm once again revisiting this to see if I can find a solution that doesn't introduce major regression bugs.

[2020-03-03 17:15] sc0ttkclark commented on #125
I'll be looking at this issue this month, sorry for the delay.

[2020-03-03 17:33] nicolafern commented on #84
It would be marvellous if you could. It would really improve the content
submission workflow on my site!

On Tue, 3 Mar 2020 at 17:13, Scott Kingsley Clark <notifications@github.com>
wrote:

[2020-03-03 17:34] Brian-Milnes commented on #84
Ditto here!

☺

Brian Milnes
+44 7971 886 113
www.ind-tech.com<http://www.ind-tech.com/>

From: Nic <notifications@github.com>
Sent: 03 March 2020 17:33
To: pods-framework/pods-gravity-forms <pods-gravity-forms@noreply.github.com>
Cc: Brian Milnes <bm@ind-tech.com>; Comment <comment@noreply.github.com>
Subject: Re: [pods-framework/pods-gravity-forms] Feature: Support multiple feeds per form (#84)

[2020-03-26 21:36] sc0ttkclark commented on #125
I haven't been able to reproduce this but I am releasing Pods Gravity Forms 1.4.3  with some important fixes that I did find issues with. We'll keep looking into this issue to see if we can reproduce it.

[2020-03-26 21:48] jimtrue commented on #125
@secondsky Can you please provide the JSON export from Pods Migrate: Packages, Export and Paste it Here in your reply (or save it as a text file and upload). We only need to see the structure of the Pod that you know you have an issue with and we need an export of the form that you have an issue with as well so we can replicate the problem, especially since none of us have been able to replicate t

[2020-03-26 21:53] sc0ttkclark commented on #125
@ChrisO2134 @telarid If either of you have any packages/further details like @jimtrue was asking for, that would greatly help us track this down. Thanks!

[2020-03-26 21:54] jimtrue commented on #125
@secondsky and @telarid There was some breaking updates in 1.4.2, which are definitely fixed in 1.4.3. They do require patching to Pods 2.7.17 as well, so plan on making a backup of your configuration and testing, but I think you'll be pleased with Pods 2.7.17 and Pods GF 1.4.3, I know I was!

[2020-03-30 19:44] CKaz-met opened #136 "Pods field not updating - with Gravity Forms Add-on - for US States as dropdown list"
## Issue Overview

I have a Pod with a field for State. It is to Relationship —> predefined list (for US States).
Then, in my Gravity Form - the State field (is set as a dropdown - US States)
But, when the form is submitted, the Pod field does not get updated. (in fact, it 'removes' whatever HAD been in the Pods US State field)

If I change the Pod -- so that the State field is "Plain Text" (not "

[2020-04-22 09:18] hliljegren opened #138 "Trying to save form gives WordPress Critical error"
## Issue Overview
I have a form on a WP multisite that is connected to a pod. When clicking "Send" I get "A critical error has occurred on your website" and no pod item has been created. If I log in as admin, everything works OK. I guess there is an underlying permission problem somewhere.

## Expected Behavior
Even if there is a permission problem I still shouldn't get a critical error. I expect

[2020-04-26 01:41] mcculloughi opened #139 "File upload "is empty" error on submit"
## Issue Overview

I think I found a bug in Gravity Forms Pods Addon dealing with File Upload.
I have a "song" form where a user uploads an mp3. It works by itself just in Gravity Forms. A user can upload and it will show in the Gravity Forms entries. However, when I add the pods feed and map it to the "file" field in my Song Pod, I get an error. On form submit, I am getting a white screen and a s

[2020-04-27 15:40] dklamie commented on #53
Hi, @sc0ttkclark, has this been implemented? Tnx.

[2020-04-27 15:51] jimtrue commented on #53
Check out this code snippet which should help you out @dklamie @rpall @ericmil87

[2020-04-27 16:54] dklamie commented on #53
Hi @jimtrue, thanks for the snippet. As I understand it would only work on the posts that we know ID's beforehand. Is there a way to dynamically populate the post ID?

Ie. we have a form that creates only one unique single post for each user; when the user fills out the form it creates the post, on every following opening of the form, the form checks the unique post id for that user and populates

[2020-05-11 11:01] exonianp commented on #84
Hello,

Just pinging here to check if you have found a solution to this issue. I am stuck in a position where we have two flows running perfectly (when only one is enabled), yet when you activate both in the same form, the fields are getting mixed up.

[2020-07-21 09:28] josvermeulen opened #141 "Cannot force new post to be published"
## Issue Overview
The user can add new posts (CPT) that should be published automatically. In PODS I have set  the default status of the new post to 'published'.

## Expected Behavior
According to Jim True now in the GF Pods addon this option shopuld also appear but it doesn't. Nothing to choose there.

## Current Behavior
In the PODS feed there is nothing like that to select.

## Form Upload

<de

[2020-07-21 09:29] josvermeulen commented on #141
👍

[2020-07-21 09:29] #141 closed

[2020-08-05 09:15] secondsky opened #142 ""No selection" Text (--Select One--) is not displayed in GF in specific cases"
## Issue Overview
If a field type is (seemingly) changed from Radio to Dropdown or back, the no selection --Select One-- option is not shown in GF if the field values get populated by pods.
Did not try further to reproduce, but it affects a few fields...

## Expected Behavior

## Current Behavior

## Possible Solution
Currently none, only recreate the field...

## Steps to Reproduce (for bugs)

1.

[2020-10-03 01:20] zejili808 opened #143 "Date Time display in UTC form instead of localtime"
## Issue Overview
I have visitor enter a message with their name, message and pictures using Gravity Form (Basic).  I then assigned the Entry Date to the Pods custom field submit_date with Form Field Entry Date.  Here is the picture,
![image](https://user-images.githubusercontent.com/31033241/94979861-202dbe00-04c1-11eb-8118-fe81064477e3.png)  My Memory Pod has a custom filed of submit_date with F

[2020-10-14 12:46] JoryHogeveen commented on #143
Hello @zejili808

Elementor only partially supports Pods at this moment and I believe date fields are not working 100%.
Please contact their support about this issue.

Cheers, Jory

[2020-10-20 10:50] emelobrz commented on #133
+1

[2020-11-10 11:29] Brian-Milnes commented on #138
I have a similar problem - PODS GF add-on causes Fatal PHP Error

I have a form submitted via Gravity Forms which has a Gravity Flow process associated. When trying to update with new values clicking on th Submit button produces the following error:

`Fatal error: Uncaught Error: Class 'GFEntryDetail' not found
in /home/customer/www/asd-cert.org/public_html/wp-content/plugins/pods-gravity-forms/in

[2020-11-11 20:16] sc0ttkclark commented on #138
A quick update here -- I'm still going through testing and fixes for compatibility issues with the latest GF major release. As soon as that finishes I will push this all up as a new major update for Pods GF for everyone to get.

[2020-11-11 20:17] sc0ttkclark commented on #138
To the OP, I haven't reproduced your issue yet but I will follow up with it before I release the other fixes.

[2020-11-25 20:35] SSSV opened #144 "--Select One-- displaying in Pods linked Gravity Form field"
## Issue Overview

A Gravity Form radio button field on this form, under "Target indication(s) for the clinical trial(s)" - https://newtbvaccines.org/tb-vaccine-pipeline-form/ - is populating related items from a Pods taxonomy but it is displaying an item called "--Select One--" (https://share.getcloudapp.com/5zudmdgO) which is not one of the taxonomies and it won’t let me delete it from the form

[2020-12-08 04:22] SSSV commented on #144
After much troubleshooting I have narrowed it down to the Pods Gravity Forms plugin (https://wordpress.org/plugins/pods-gravity-forms/). When that is deactivated the --Select One-- field completely disappears. I'm not sure why.

[2020-12-08 04:44] SSSV commented on #144
There is someone else with this issue here - https://wordpress.org/support/topic/radio-button-bug-2/#post-13757744

[2020-12-08 17:20] jimtrue commented on #144
@sc0ttkclark Confirmed and can reproduce. This is specific to Radio Buttons. We're adding a 'placeholder' and shouldn't be.

[2020-12-10 00:22] SSSV commented on #144
I noted that it does not appear to be happening with all of the radio buttons as I have other radio buttons on the same form...

[2021-01-14 17:03] Daniel-Marcus8 opened #146 "Pods Gravity Form Not Saving"
## Issue Overview
For some reason when I hit submit on my Pods linked gravity form the form never saves.

## Expected Behavior
Form to save to pods database

## Current Behavior
Form just hangs and the data never saves

## Possible Solution
Do I need some code added to by Functions.PHP file?

## Steps to Reproduce (for bugs)
1, Bring up form for a specific governance entity I used the earth day pi

[2021-01-15 18:25] Daniel-Marcus8 commented on #146
We are eager to get this resolved by mid next week, and we can make available temporary admin access to our website.  The form used to work fine and then just stopped - maybe some upgrade in a components impacted this?  Feel free to contact me directly at damarcus99@gmail.com

[2021-01-15 18:25] #146 closed

[2021-01-20 19:01] Daniel-Marcus8 opened #147 "Pods Gravity Form Not Saving - Still open issue"
## Issue Overview
For some reason when I hit submit on my Pods linked gravity form the form never saves.  I'm happy to help someone troubleshoot this by accessing the site.  The form used to work, and then stopped working.  It loads properly, but it doesn't save

## Expected Behavior

Form to save to pods database

## Current Behavior
Form just hangs and the data never saves

## Possible Solution

[2021-02-19 17:35] saifsultanc opened #149 "Issue with Pods GF add-on hooks for updating form entry"
## Issue Overview
The issue received from a customer with PODS Workflow Step on Gravity Flow. PHP Fatal Error on L992 of `class Pods_GF_Addon` [here](https://github.com/pods-framework/pods-gravity-forms/blob/master/includes/Pods_GF_Addon.php#L992).

## Expected Behavior
It should process the PODS without any error.

## Current Behavior
PHP Fatal Error reported:
```PHP Fatal error:  Uncaught Error:

[2021-02-19 20:47] bbenjamin602 opened #155 "Gravity Flow Form hangs when submitting user input during workflow process"
When using Pods Gravity Forms Add-On with Gravity Flow the form hangs when trying to submit user input on a GF form.

This issue was test with and without PODS and determined that the problem occurs when the Pods Gravity Forms Add-On plugin is activated.  Issue was first sent to Gravity Flow developers who were able to replicate the issue and determined the below recommendation:

You can mention t

[2021-03-26 12:44] Brian-Milnes opened #150 "Using pods-gravity-forms to create new PODs post corrupts taxonomy value"
We have been trying to adopt pods-gravity-forms, but are encountering several issues includin this one. (Forcing us to revert to custom code.)

Values in the GF should be passed to a "Status" taxonomy value in the PODs post,

instead, the field slug is being entered into the field Name
e.g. "Manufacturing Change Request" is overwritten with slug "manuf_change_request"

Probably a simple fix

Can g

[2021-03-26 12:52] sc0ttkclark commented on #150
I'll be looking into this soon, I've got a few more follow ups with Pods 2.8 to get the next beta version out. Once I'm done there I'll get into this and see what I can find.

[2021-04-29 00:26] Carewen opened #151 "Number fields not showing"
## Issue Overview
Current and Plain Number fields in a saved pod do not show when building a Gravity Form. I'm still learning my way through this integration so I hope I'm not wasting time.

## Expected Behavior
I expect that I should see all number and currency fields when configuring the form. Given that I can see most other fields this is unexpected.

## Current Behavior
In one window I have La

[2021-04-29 00:41] Carewen commented on #151
Confirming additional number/currency fields not showing as I work through the list:

- Planned Number of Units

On an unrelated note I can't seen to get Land Document Name (Land Document relationship) to appear under File Upload either. But that may be my ignorance.

[2021-04-29 15:19] devlamconstructie opened #152 "pods addon form settings UI is messed up in GF 2.5"
the form settings UI is showing html code for field names and descriptions when combined with gf 2.5

![image](https://user-images.githubusercontent.com/66801041/116575619-19f4a880-a90f-11eb-80f4-2f280997bf4f.png)

[2021-05-20 12:12] lhberg opened #154 "Two identical posts are generated at once with GF 2.5.x"
## Issue Overview

Two identical posts are generated at once
## Expected Behavior

only one post should be generated
## Current Behavior

Two identical posts are generated at once
## Possible Solution

Most probably an issue with GF 2.5.x
## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Form Upload

<details>
[code]
</details>

## Pods Package Export

<details>
[code]
</details>

## Related Issue

[2021-07-11 08:37] obadaja commented on #84
Hello...
I'm new about pods and gravity forms, I'm facing same problem... when adding two pods feeds in one form:
1- I'm create form with three pages
2- first page content "user" pod that I extended to add three more fields (id card number, telephone, photo)
3- second page content "instruments" pod with some fields
4- third page content "sketches" pod with some fields
5- when run this from: "user"

[2021-10-18 02:41] sc0ttkclark commented on #155
I’m looking at Pods GF this upcoming week as I test for Pods 2.8 compatibility. I’ll add this to my list of things to look over.

[2021-10-29 18:49] sugarfunk commented on #154
Also confirmed GF 2.5.1

[2021-11-20 15:47] sc0ttkclark commented on #152
Fixed in 2.0, cleaned up interface a bit too

[2021-11-20 15:47] #152 closed

[2021-12-02 04:51] AurelienEC commented on #154
I confirm what mentioned @HmCody with the option support entry update it stop duplicate the entry.

[2022-01-21 10:12] FormlosLK commented on #154
Can confirm this too.

[2022-01-21 13:59] Brian-Milnes commented on #154
I'll test the "Support entry updates" but this version (1.4.4) is also failing to attach PDF uploads (which reverting to 1.4.3 resolves)

[2022-01-24 23:39] nicdford opened #156 "Pods feed mapping UI is not rendering correctly"
## Issue Overview
It looks like they've changed how they render HTML, so now it's returning tags instead of rendered HTML.
![image](https://user-images.githubusercontent.com/7292444/150883284-ab648ab6-5da2-48c4-b88e-c438d71fed26.png)

## Expected Behavior
For the code to be rendered as HTML and not a string.

## Current Behavior
HTML code is being rendered as a string.

[2022-03-31 04:29] TooTallTye commented on #156
Same here cannot select a field to link pod to

[2022-05-25 12:06] wildbuzz666 opened #158 "Limit list to the same Post Author in Relationship fields has no effect in GF"
The options to limit what posts a relationship field shows for selection have no effect when using GF

While it works correctly in the pod it shows all the records in GF (non only the same author ones)

I can't understand if it's a bug/a missing feature or there is a workaround for the Pods feed

Pods 2.8
Gravity Forms 2.6.3
Pods Gravity Forms Add-On 1.4.4

[2022-06-14 00:17] Camille8383 opened #159 "Blockstream:master/camille8383"
##6515

_Originally posted by @Camille8383 in https://github.com/pods-framework/pods/issues/6485#issuecomment-1154571262_

[2022-06-14 00:17] Camille8383 commented on #159
#157

[2022-06-25 20:17] pearles opened #160 "Strange Issue"
## Issue Overview
With the plugin enabled, the form is working fine but once I submit the entry fields get screwed up.  If I disable the plugin everything works as expected.

For some reason, the second field is getting the value from the last field, whilst the other fields remain empty.  In the attached image, the first entry is with the plugin disabled and the second entry with the plugin enable

[2022-06-27 05:38] pearles commented on #160
Ok I have found the problem.  There is an issue with the GP Populate Anything plugin.  Whilst comparing the production site with the test site I noticed the test site had an old version of the GP Populate anything plugin version 1.0-beta-4.128.  When I updated it to the current version 1.2.4. the problem started happening on the test site.

Reverting the production site to the beta version has sol

[2022-07-22 14:10] #155 closed

[2022-07-22 14:16] sc0ttkclark commented on #154
I'm in the midst of a major refactor for Pods Gravity Forms 2.0 which will include a full retest of all supported functionality. This will happen after Pods 2.9 is released since one of the Pods GF 2.0 features will be to support GF list fields mapping into simple repeatable fields.

Thanks for your continued patience, I'll keep looking at this to see if I can potentially solve this before then.

[2022-08-18 03:20] AngelaP09 opened #161 "Image from Gravity Form is not saved in Pod Image using the Pods Gravity Form Add-on"
## Issue Overview
I have a gravity form with an image file upload.  I have created a feed from the gravity form to a pod.  All the text fields in the gravity form are mapped to the pods fields and there is no issue.  The image file upload from the gravity form is uploaded to the Media Library but the image is not in the pod image field.  I need to do the file upload for the pod entry.

Is there a

[2022-09-02 16:30] Yanhuazong opened #162 "Copies of the image being uploaded to media library when the form entry is resubmitted"
## Issue Overview

Hello. I have a Gravity form that has an image upload field. This field has been mapped to a File field in Pods. Every time I update the form entry that have an image attached, the same image will be uploaded to the media library again and create a copy.

## Expected Behavior

Is there a way to tell the plugin to stop uploading the image if it's the same one? Thanks!

## Current

[2022-10-30 19:16] danielcharrua commented on #154
Any solutions for this matter?

[2022-10-30 19:31] Brian-Milnes commented on #154
I'd like to know too, as I cannot update to the latest version because of this issue.
(not good to miss out on other bug-fixes and enhancements)